{% include 'layout.html' %}

<div class="container text-center">
    <h1>About Hermes</h1>
    <p>Hermes is an open source web application that allows you to manage your companies employees.</p>
    <br>
    <h2>Version</h2>
    <p>Version 1.4.2</p>
    <br>
    <h2>Licenses</h2>
    <ul class="list-unstyled">
        <li>Python</li>
        <li>SQLite</li>
        <li>Jinja</li>
    </ul>
    <br>
    <h2>GitHub</h2>
    <p>Created by <a href="https://github.com/DarthTigerson">DarthTigerson</a></p>
    <p>Project URL: <a href="https://github.com/DarthTigerson/Hermes">https://github.com/DarthTigerson/Hermes</a></p>
    <br>
    <h2>Artists</h2>
    <ul class="list-unstyled">
        <li>
            <a href="https://www.flaticon.com/free-icons/hermes" title="hermes icons">Hermes icons created by max.icons - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/login" title="login icons">Login icons created by Pixel perfect - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/cake" title="cake icons">Cake icons created by Freepik - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/young" title="young icons">Young icons created by Freepik - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Freepik - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Smashicons - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/csv" title="csv icons">Csv icons created by kliwir art - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/slack" title="slack icons">Slack icons created by Pixel perfect - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by justicon - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/checklist" title="checklist icons">Checklist icons created by Smashicons - Flaticon</a>
        </li>
    </ul>
</div>