{% include 'layout.html' %}

<div class="container">
    <form method="post">
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Add a new Role
            </div>
            <div class="card-body">
                <div style="width: 100%; display: inline-block;" class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div style="width: 100%; display: inline-block;" class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="description" rows="3"> </textarea>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Accesses
            </div>
            <div class="card-body" style="overflow-y: auto;">
                <table class="table text-center table-hover">
                    <tr>
                        <td style="padding-left: 20px;"><input type="checkbox" class="form-group" name="onboarding"></td>
                        <td style="text-align: left;">Onboarding</td>
                        <td style="text-align: left; padding-left: 25px;">Users with this role assigned will be able to add new employees.</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 20px;"><input type="checkbox" class="form-group" name="offboarding"></td>
                        <td style="text-align: left;">Offboarding</td>
                        <td style="text-align: left; padding-left: 25px;">Users with this role assigned will be able to offboard employees.</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 20px;"><input type="checkbox" class="form-group" name="manage_modify"></td>
                        <td style="text-align: left;">Manage Lists</td>
                        <td style="text-align: left; padding-left: 25px;">Users with this role assigned will be able to Add, Edit and Remove Lists (Departments, Sites, Contracts, Employers, Employment, Countries, Currency).</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 20px;"><input type="checkbox" class="form-group" name="admin"></td>
                        <td style="text-align: left;">Manage Admin</td>
                        <td style="text-align: left; padding-left: 25px;">Users with this role assigned will be able to Add, Edit and Remove Users, Roles and HR Teams.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="padding-bottom: 60px;"></div>
        <div class="fixed-bottom text-center" style="background-color: white; padding: 5px;">
            <button type="submit" class="btn btn-primary">Add Role</button>
            <button type="reset" class="btn btn-secondary">Clear Role</button>
        </div>
    </form>
</div>