{% include 'layout.html' %}

<div class="container">
    <form method="post">
        <div class="card">
            <div style="text-align: center;" class="card-header">
                <h4>Add a new User</h4>
            </div>
            <div class="card-body">
                <div style="width: 30%; display: inline-block;" class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div style="width: 30%; display: inline-block;" class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="first_name" required>
                </div>
                <div style="width: 30%; display: inline-block;" class="form-group">
                    <label>Surname</label>
                    <input type="text" class="form-control" name="last_name" required>
                </div>
                <div style="width: 30%; display: inline-block;" class="form-group">
                    <label>Role</label>
                    <select class="form-control" name="role_id">
                        {% if roles == [] %}
                            <option value="">No Roles Available</option>
                        {% endif %}
                        {% if roles != [] %}
                            <option value="">Select Role</option>
                            {% for role in roles %}
                                <option value="{{role.id}}">{{ role.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div style="width: 30%; display: inline-block;" class="form-group">
                    <label>Team</label>
                    <select class="form-control" name="team_id">
                        <option value="0">Not HR</option>
                        {% for team in teams %}
                            <option value="{{team.id}}">{{ team.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="width: 100%; display: inline-block;" class="form-group">
                    <label>Profile Picture</label>
                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <input type="radio" id="upload_image" name="profile_image" value="0">
                            <label for="upload_image" style="padding: 5px;">
                                <img src="/static/img/upload.png" alt="upload" width="50px"> Upload Image
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="Aphrodite" name="profile_image" value="1">
                            <label for="Aphrodite" style="padding: 5px;">
                                <img src="/static/img/aphrodite.png" alt="Aphrodite" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};"> Aphrodite
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="Artemis" name="profile_image" value="2">
                            <label for="Artemis" style="padding: 5px;">
                                <img src="/static/img/artemis.png" alt="Artemis" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};"> Artemis
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="Athena" name="profile_image" value="3">
                            <label for="Athena" style="padding: 5px;">
                                <img src="/static/img/athena.png" alt="Athena" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};"> Athena
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="Hades" name="profile_image" value="4">
                            <label for="Hades" style="padding: 5px;">
                                <img src="/static/img/hades.png" alt="Hades" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};"> Hades
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="Hera" name="profile_image" value="5">
                            <label for="Hera" style="padding: 5px;">
                                <img src="/static/img/hera.png" alt="Hera" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};"> Hera
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="Hestia" name="profile_image" value="6">
                            <label for="Hestia" style="padding: 5px;">
                                <img src="/static/img/hestia.png" alt="Hestia" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};"> Hestia
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="Poseidon" name="profile_image" value="7">
                            <label for="Poseidon" style="padding: 5px;">
                                <img src="/static/img/poseidon.png" alt="Poseidon" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};"> Poseidon
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="Zeus" name="profile_image" value="8">
                            <label for="Zeus" style="padding: 5px;">
                                <img src="/static/img/zeus.png" alt="Zeus" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};"> Zeus
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Password
            </div>
            <div class="card-body">
                <div id="password-error" style="color: red; text-align: center;"></div>
                <div style="width: 100%; display: inline-block;" class="form-group">
                    <label>Enter Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 60px;"></div>
        <div id="color_override" class="fixed-bottom text-center" style="background-color: white; padding: 5px;">
            <button type="submit" class="btn" style="background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}">Add User</button>
            <button type="reset" class="btn" style="background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}">Clear User</button>
        </div>
    </form>
</div>

<style>
    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked + label {
        background-color: {{settings.secondary_color}};
    }

    label {
        border-radius: 10px;
        display: inline-block;
        width: 100%;
    }
</style>