{% include 'layout.html' %}

<div class="container">
    <form method="post">
        <div class="card">
            <div style="text-align: center;" class="card-header">
                <h4>Add a new Contract</h4>
            </div>
            <div class="card-body">
                <div style="width: 100%; display: inline-block;" class="form-group">
                    <label>Contract Name</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div style="width: 100%; display: inline-block;" class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="description" rows="4"> </textarea>
                </div>
                <div class="text-center">
                    {% if role_state.manage_modify == 1 %}
                    <button type="submit" class="btn" style="width: 170px; background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}};">Add Contract</button>
                    {% endif %}
                    <button type="reset" class="btn" style="width: 170px; background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}};">Clear</button>
                </div>
            </div>
        </div>
    </form>
</div>