{% include 'layout.html' %}

<div class="container">
    <form method="post">
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Add a new User
            </div>
            <div class="card-body">
                <div style="width: 30%; display: inline-block;" class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div style="width: 30%; display: inline-block;" class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="first_name" required>
                </div>
                <div style="width: 30%; display: inline-block;" class="form-group">
                    <label>Surname</label>
                    <input type="text" class="form-control" name="last_name" required>
                </div>
                <div style="width: 30%; display: inline-block;" class="form-group">
                    <label>Role</label>
                    <select class="form-control" name="role_id">
                        {% if roles == [] %}
                            <option value="">No Roles Available</option>
                        {% endif %}
                        {% if roles != [] %}
                            <option value="">Select Role</option>
                            {% for role in roles %}
                                <option value="{{role.id}}">{{ role.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div style="width: 30%; display: inline-block;" class="form-group">
                    <label>Team</label>
                    <select class="form-control" name="team_id">
                        <option value="0">Not HR</option>
                        {% for team in teams %}
                            <option value="{{team.id}}">{{ team.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Password
            </div>
            <div class="card-body">
                <div id="password-error" style="color: red; text-align: center;"></div>
                <div style="width: 100%; display: inline-block;" class="form-group">
                    <label>Enter Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 60px;"></div>
        <div id="color_override" class="fixed-bottom text-center" style="background-color: white; padding: 5px;">
            <button type="submit" class="btn" style="background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}">Add User</button>
            <button type="reset" class="btn" style="background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}">Clear User</button>
        </div>
    </form>
</div>