{% include 'layout.html' %}

<div class="container">
    <div class="row" >
        <div class="col-md-8" style="padding-bottom: 20px;">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Users</h5>
                    {% if role_state.admin == 1 %}
                    <a href="/admin/add_user" class="btn btn-sm" style="float: right; background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}">+</a>
                    {% endif %}
                </div>
                <div class="card-body" style="overflow-y: auto; height: 400px;">
                    <div class="form-group">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 30px;">Profile</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">HR Team</th>
                                    {% if role_state.admin == 1 %}
                                    <th scope="col" style="width: ;">Edit</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    {% if user.username == "hermes" %}
                                        <td><img src="/static/img/logo.png" style="width: 30px; height: 30px; border-radius: 50%; background-color: {{settings.primary_color}};"></td>
                                    {% elif user.users_profile == None %}
                                        <td><img src="/static/img/boy.png" style="width: 30px; height: 30px; border-radius: 50%;"></td>
                                    {% endif %}
                                    <td>{{user.username}}</td>
                                    <td>{{user.first_name}}</td>
                                    <td>{{user.last_name}}</td>
                                    {% for role in roles %}
                                        {% if role.id == user.role_id %}
                                            <td>{{role.name}}</td>
                                        {% endif %}
                                    {% endfor %}
                                    {% for team in teams %}
                                        {% if team.id == user.team_id %}
                                            <td>{{team.name}}</td>
                                        {% endif %}
                                    {% endfor %}
                                    {% if user.team_id == 0 %}
                                        <td>Not HR</td>
                                    {% endif %}
                                    {% if role_state.admin == 1 %}
                                    <td><button onclick="window.location.href='/admin/edit_user/{{user.id}}'" type="button" class="btn" style="background-color: {{settings.info_color}}; color: {{settings.info_color_hover}}">Edit</button></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding-bottom: 20px;">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">HR Team</h5>
                    {% if role_state.admin == 1 %}
                    <a href="/admin/add_team/" class="btn btn-sm" style="float: right; background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}">+</a>
                    {% endif %}
                </div>
                <div class="card-body" style="overflow-y: auto; height: 400px;">
                    <div class="form-group">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    {% if role_state.admin == 1 %}
                                    <th scope="col">Edit</th>
                                    {% endif %}
                                
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in teams %}
                                <tr>
                                    <td>{{team.name}}</td>
                                    {% if role_state.admin == 1 %}
                                    <td class="text-center"><button onclick="window.location.href='/admin/edit_team/{{team.id}}'" type="button" class="btn btn-info" style="background-color: {{settings.info_color}}; color: {{settings.info_color_hover}}">Edit</button></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header">
            {% if role_state.admin == 1 %}
            <a href="/admin/add_role/" class="btn" style="float: right; background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}">+</a>
            {% endif %}
            <h5 class="card-title">User Roles</h5>
        </div>
        <div class="card-body" style="overflow-y: auto; height: 250px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Onboarding</th>
                        <th scope="col">Employee Update</th>
                        <th scope="col">Offboarding</th>
                        <th scope="col">Manage Lists</th>
                        <th scope="col">View Payrol</th>
                        <th scope="col">Manage Users</th>
                        <th scope="col">Global Settings</th>
                        <th scope="col">API Reporting</th>
                        {% if role_state.admin == 1 %}
                        <th scope="col">Edit</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                    <tr>
                        <td>{{role.name}}</td>
                        <td><input type="checkbox" {% if role.onboarding %}checked{% endif %} onclick="return false;"></td>
                        <td><input type="checkbox" {% if role.employee_updates %}checked{% endif %} onclick="return false;"></td>
                        <td><input type="checkbox" {% if role.offboarding %}checked{% endif %} onclick="return false;"></td>
                        <td><input type="checkbox" {% if role.manage_modify %}checked{% endif %} onclick="return false;"></td>
                        <td><input type="checkbox" {% if role.payroll %}checked{% endif %} onclick="return false;"></td>
                        <td><input type="checkbox" {% if role.admin %}checked{% endif %} onclick="return false;"></td>
                        <td><input type="checkbox" {% if role.settings %}checked{% endif %} onclick="return false;"></td>
                        <td><input type="checkbox" {% if role.api_report %}checked{% endif %} onclick="return false;"></td>
                        {% if role_state.admin == 1 %}
                        <td class="text-center"><button onclick="window.location.href='/admin/edit_role/{{role.id}}'" type="button" class="btn" style="background-color: {{settings.info_color}}; color: {{settings.info_color_hover}}">Edit</button></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>