{% include 'layout.html' %}

<div class="container">
    <form method="post">
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Edit Department
            </div>
            <div class="card-body">
                <div style="width: 100%; display: inline-block;" class="form-group">
                    <label>Department Name</label>
                    <input type="text" class="form-control" name="name" value="{{department.name}}" required>
                </div>
                <div style="width: 100%; display: inline-block;" class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="description" rows="4">{{department.description}}</textarea>
                </div>
                <div class="text-center">
                    {% if role_state.manage_modify == 1 %}
                    <button type="submit" class="btn btn-primary" style="width: 170px;">Update</button>
                    {% endif %}
                    <button type="button" onclick="window.location.href='/manage/delete_department/{{department.id}}'" class="btn btn-danger" style="width: 170px;">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>