{% include 'layout.html' %}

<div class="container">
    <form method="post">
        <div class="card">
            <div style="text-align: center;" class="card-header">
                <h4>Edit Contract for {{employee.full_name}}</h4>
            </div>
            <div class="card-body">
                <div style="width: 59%; display: inline-block;" class="form-group">
                    <label>Contract Name</label>
                    <input type="text" class="form-control" name="contract_name" value="{{employee_contract.contract_name}}" required>
                </div>
                <div style="width: 20%; display: inline-block;" class="form-group">
                    <label>Start Date</label>
                    <input type="date" class="form-control" name="start_date" value="{{employee_contract.start_date}}"" required>
                </div>
                <div style="width: 20%; display: inline-block;" class="form-group">
                    <label>End Date</label>
                    <input type="date" class="form-control" name="end_date" value="{{employee_contract.end_date}}" required>
                </div>
                <div style="width: 100%; display: inline-block;" class="form-group">
                    <label>Notes</label>
                    <textarea class="form-control" name="notes">{{employee_contract.contract_name}}</textarea>
                </div>
                <div class="text-center">
                    {% if role_state.payroll == 1 %}
                    <br>
                    <button type="submit" class="btn" style="width: 230px; background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}};">Update Employee Contract</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>