{% include 'layout.html' %}

<div class="container">
    <form method="post">
        <div class="card">
            <div style="text-align: center;" class="card-header">
                <h4>Add a new Salary Pay Frequency</h4>
            </div>
            <div class="card-body">
                <div style="width: 100%; display: inline-block;" class="form-group">
                    <label>Salary Pay Frequency Name</label>
                    <input type="text" class="form-control" name="name" value="{{salary_pay_frequency.name}}" required>
                </div>
                <div class="text-center">
                    {% if role_state.manage_modify == 1 %}
                    <button type="submit" class="btn" style="width: 170px; background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}">Update</button>
                    {% endif %}
                    <button type="button" onclick="window.location.href='/manage/delete_salary_pay_frequency/{{salary_pay_frequency.id}}'" class="btn" style="width: 170px; background-color: {{settings.critical_color}}; color: {{settings.critical_color_hover}}">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>