{% include 'layout.html' %}

<div class="container">
    <form method="POST">
        <div class="container">
            <div style="position: fixed; right: 0%; top: 3.5rem">
                <button type="reset" class="btn btn-secondary" style="width: 160px; border-radius: 0;">Clear Employee</button>
                <br>
                <button type="submit" class="btn btn-primary" style="width: 160px; border-radius: 0;">Update Employee</button>
            </div>
        </div>

        <div class="card">
            <div style="text-align: left;" class="card-header">
                Baisc Information
            </div>
            <div class="card-body">
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>E-mail</label>
                    <input type="text" class="form-control" name="email" value="{{employee_data.email}}" required>
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="first_name" value="{{employee_data.first_name}}" required>
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="last_name" value="{{employee_data.last_name}}" required>
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" name="full_name" value="{{employee_data.full_name}}">
                </div>
            </div>
        </div>
        </br>
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Personal Information
            </div>
            <div class="card-body">
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Date of Birth</label>
                    <input type="text" class="form-control" name="date_of_birth" value="{{employee_data.date_of_birth}}" required>
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Gender</label>
                    <select class="form-control" name="gender">
                        <option {%if employee_data.gender == 1%} selected="selected" {%endif%} value="1">Male</option>
                        <option {%if employee_data.gender == 2%} selected="selected" {%endif%} value="2">Female</option>
                        <option {%if employee_data.gender == 3%} selected="selected" {%endif%} value="3">Other</option>
                    </select>
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Nationality</label>
                    <input type="text" class="form-control" name="nationality" value="{{employee_data.nationality}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Country of Origin</label>
                    <input type="text" class="form-control" name="country_of_origin_id" value="{{employee_data.country_of_origin_id}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Working Country</label>
                    <input type="text" class="form-control" name="working_country_id" value="{{employee_data.working_country_id}}">
                </div>
            </div>
        </div>
        </br>
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Work Profile
            </div>
            <div class="card-body">
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Job Title</label>
                    <input type="text" class="form-control" name="job_title" value="{{employee_data.job_title}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Direct Manager ID</label>
                    <input type="text" class="form-control" name="direct_manager_id" value="{{employee_data.direct_manager_id}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Start Date</label>
                    <input type="text" class="form-control" name="start_date" value="{{employee_data.start_date}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>End Date</label>
                    <input type="text" class="form-control" name="end_date" value="{{employee_data.end_date}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Site ID</label>
                    <input type="text" class="form-control" name="site_id" value="{{employee_data.site_id}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Department ID</label>
                    <input type="text" class="form-control" name="department_id" value="{{employee_data.department_id}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Product Code</label>
                    <input type="text" class="form-control" name="product_code" value="{{employee_data.product_code}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Brand Code</label>
                    <input type="text" class="form-control" name="brand_code" value="{{employee_data.brand_code}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Business Unit</label>
                    <input type="text" class="form-control" name="business_unit" value="{{employee_data.business_unit}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Business Vertical</label>
                    <input type="text" class="form-control" name="business_verticle" value="{{employee_data.business_unit}}">
                </div>
            </div>
        </div>
        </br>
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Payroll
            </div>
            <div class="card-body">
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Salary Currency ID</label>
                    <input type="text" class="form-control" name="salary_currency_id" value="{{employee_data.salary_currency_id}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Salary</label>
                    <input type="text" class="form-control" name="salary" value="{{employee_data.salary}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Salary Period</label>
                    <input type="text" class="form-control" name="salary_period" value="{{employee_data.salary_period}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>HR Team ID in Charge</label>
                    <input type="text" class="form-control" name="hr_team_id" value="{{employee_data.hr_team_id}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Working Hours</label>
                    <input type="text" class="form-control" name="working_hours" value="{{employee_data.working_hours}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Employment Contract ID</label>
                    <input type="text" class="form-control" name="employment_contract_id" value="{{employee_data.employment_contract_id}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Employment Type ID</label>
                    <input type="text" class="form-control" name="employment_type_id" value="{{employee_data.employment_type_id}}">
                </div>
            </div>
        </div>
        </br>
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Supplier
            </div>
            <div class="card-body">
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Supplier</label>
                    <input type="text" class="form-control" name="supplier" value="{{employee_data.supplier}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Entity to be Billed</label>
                    <input type="text" class="form-control" name="entity_to_be_billed" value="{{employee_data.entity_to_be_billed}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Employer ID</label>
                    <input type="text" class="form-control" name="employer_id" value="{{employee_data.employer_id}}">
                </div>
                <div style="width: 33%; display: inline-block;" class="form-group">
                    <label>Company E-mail</label>
                    <input type="text" class="form-control" name="company_email" value="{{employee_data.company_email}}">
                </div>
            </div>
        </div>
        </br>
    </form>
</div>
