{% include 'layout.html' %}

<div class="container">
    <form method="POST">
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Basic Information
            </div>
            <div class="card-body">
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>E-mail</label>
                    <input type="text" class="form-control" name="email" value="{{employee_data.email}}" required>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="first_name" value="{{employee_data.first_name}}" required>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="last_name" value="{{employee_data.last_name}}" required>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" name="full_name" value="{{employee_data.full_name}}">
                </div>
            </div>
        </div>
        </br>
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Personal Information
            </div>
            <div class="card-body">
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Date of Birth</label>
                    <input type="date" class="form-control" name="date_of_birth" value="{{employee_data.date_of_birth}}" required>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Gender</label>
                    <select class="form-control" name="gender">
                        <option {%if employee_data.gender == 0%} selected="selected" {%endif%} value="0">Male</option>
                        <option {%if employee_data.gender == 1%} selected="selected" {%endif%} value="1">Female</option>
                        <option {%if employee_data.gender == 2%} selected="selected" {%endif%} value="2">Other</option>
                    </select>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Nationality</label>
                    <input type="text" class="form-control" name="nationality" value="{{employee_data.nationality}}" required>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Country of Origin</label>
                    <select class="form-control" name="country_of_origin_id">
                        {% if countries == [] %}
                            <option value="">No Countries Available</option>
                        {% endif %}
                        {% if countries != [] %}
                            <option value="">Select Country</option>
                            {% for country in countries %}
                                <option {%if employee_data.country_of_origin_id == country.id%} selected="selected" {%endif%} value="{{country.id}}">{{ country.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Working Country</label>
                    <select class="form-control" name="working_country_id">
                        {% if countries == [] %}
                            <option value="">No Countries Available</option>
                        {% endif %}
                        {% if countries != [] %}
                            <option value="">Select Country</option>
                            {% for country in countries %}
                                <option {%if employee_data.working_country_id == country.id%} selected="selected" {%endif%} value="{{country.id}}">{{ country.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Personal E-mail</label>
                    <input type="text" class="form-control" name="personal_email" value="{{employee_data.personal_email}}">
                </div>
            </div>
        </div>
        </br>
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Work Profile
            </div>
            <div class="card-body">
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Job Title</label>
                    <input type="text" class="form-control" name="job_title" value="{{employee_data.job_title}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Direct Managers E-mail</label>
                    <input type="text" class="form-control" name="direct_manager" value="{{employee_data.direct_manager}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>HR Team in Charge</label>
                    <select class="form-control" name="hr_team_id">
                        {% if hr_teams == [] %}
                            <option value=0>No HR Team is Available</option>
                        {% endif %}
                        {% if hr_teams != [] %}
                            <option value="">Select Team</option>
                            {% for team in hr_teams %}
                                <option {%if employee_data.hr_team_id == team.id%} selected="selected" {%endif%} value="{{team.id}}">{{ team.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Start Date</label>
                    <input type="date" class="form-control" name="start_date" value="{{employee_data.start_date}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>End Date</label>
                    <input type="date" class="form-control" name="end_date" value="{{employee_data.end_date}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Site</label>
                    <select class="form-control" name="site_id">
                        {% if sites == [] %}
                            <option value="">No Sites Available</option>
                        {% endif %}
                        {% if sites != [] %}
                            <option value="">Select Site</option>
                            {% for site in sites %}
                                <option {%if employee_data.site_id == site.id%} selected="selected" {%endif%} value="{{site.id}}">{{ site.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Department</label>
                    <select class="form-control" name="department_id">
                        {% if departments == [] %}
                            <option value="">No Departments Available</option>
                        {% endif %}
                        {% if departments != [] %}
                            <option value="">Select Department</option>
                            {% for department in departments %}
                                <option {%if employee_data.department_id == department.id%} selected="selected" {%endif%} value="{{department.id}}">{{ department.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Product Code</label>
                    <input type="text" class="form-control" name="product_code" value="{{employee_data.product_code}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Brand Code</label>
                    <input type="text" class="form-control" name="brand_code" value="{{employee_data.brand_code}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Business Unit</label>
                    <input type="text" class="form-control" name="business_unit" value="{{employee_data.business_unit}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Business Vertical</label>
                    <input type="text" class="form-control" name="business_verticle" value="{{employee_data.business_verticle}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Contract</label>
                    <select class="form-control" name="employment_contract_id">
                        {% if employment_contracts == [] %}
                            <option value="">No Contracts are Available</option>
                        {% endif %}
                        {% if employment_contracts != [] %}
                            <option value="">Select Contract</option>
                            {% for contract in employment_contracts %}
                                <option {%if employee_data.employment_contract_id == contract.id%} selected="selected" {%endif%} value="{{contract.id}}">{{ contract.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
        </br>
        {% if role_state.payroll == 1 %}
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Payroll
            </div>
            <div class="card-body">
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Salary Currency</label>
                    <select class="form-control" name="salary_currency_id">
                        {% if currencies == [] %}
                            <option value="">No Currency is Available</option>
                        {% endif %}
                        {% if currencies != [] %}
                            <option value="">Select Currency</option>
                            {% for currency in currencies %}
                                <option {%if employee_data.salary_currency_id == currency.id%} selected="selected" {%endif%} value="{{currency.id}}">{{currency.name}} - {{currency.symbol}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Base Salary</label>
                    <input type="text" class="form-control" name="salary" value="{{employee_data.salary}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Salary Period</label>
                    <input type="text" class="form-control" name="salary_period" value="{{employee_data.salary_period}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Working Hours</label>
                    <input type="text" class="form-control" name="working_hours" value="{{employee_data.working_hours}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Employment Type</label>
                    <select class="form-control" name="employment_type_id">
                        {% if employment_types == [] %}
                            <option value="">No Employments are Available</option>
                        {% endif %}
                        {% if employment_types != [] %}
                            <option value="">Select Employment Type</option>
                            {% for type in employment_types %}
                                <option {%if employee_data.employment_type_id == type.id%} selected="selected" {%endif%} value="{{type.id}}">{{ type.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Net Monthly Salary</label>
                    <input type="text" class="form-control" name="net_monthly_salary" value="{{employee_data.net_monthly_salary}}" required>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Change Reason</label>
                    <input type="text" class="form-control" name="change_reason" value="{{employee_data.change_reason}}" required>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Increase Percent</label>
                    <input type="text" class="form-control" name="increase_percent" value="{{employee_data.increase_percentage}}" required>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Salary Pay Frequency</label>
                    <select class="form-control" name="salary_pay_frequency_id" required>
                        {% if salary_pay_frequencies == [] %}
                            <option value="">No Salary Pay Frequencies Available</option>
                        {% endif %}
                        {% if salary_pay_frequencies != [] %}
                            <option value="">Select Salary Pay Frequency</option>
                            {% for salary_pay_frequency in salary_pay_frequencies %}
                                <option {%if employee_data.salary_pay_frequency_id == salary_pay_frequency.id%} selected="selected" {%endif%} value="{{salary_pay_frequency.id}}">{{ salary_pay_frequency.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
        </br>
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Employee Contract
                <a href="/employee/add_employee_contract/{{employee_data.id}}" class="btn btn-sm" style="float: right; background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}">+</a>
            </div>
            <div class="card-body" style="width: 100%; height: 200px;">
                <table class="table table-hover" style="text-overflow: ellipsis; white-space: nowrap;">
                    <thead>
                        <tr>
                            <th>Contract Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Notes</th>
                            <th style="width: 50px;">Updated By</th>
                            <th style="width: 50px;">View</th>
                            <th style="width: 50px;">Download</th>
                            <th style="width: 50px;">Options</th>
                        </tr>
                    </thead>
                    {% if employee_contracts == None or employee_contracts == [] %}
                        </table>
                        <br>
                        <h4 style="text-align: center;">Upload Employee Contract</h4>
                    {% else %}

                </table>
                {% endif %}
            </div>
        </div>
        </br>
        {% endif %}
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Supplier
            </div>
            <div class="card-body">
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Supplier</label>
                    <input type="text" class="form-control" name="supplier" value="{{employee_data.supplier}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Entity to be Billed</label>
                    <input type="text" class="form-control" name="entity_to_be_billed" value="{{employee_data.entity_to_be_billed}}">
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Employer</label>
                    <select class="form-control" name="employer_id">
                        {% if employers == [] %}
                            <option value="">No Employers are Available</option>
                        {% endif %}
                        {% if employers != [] %}
                            <option value="">Select Employer</option>
                            {% for employer in employers %}
                                <option {%if employee_data.employer_id == employer.id%} selected="selected" {%endif%} value="{{employer.id}}">{{ employer.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div style="width: 350px; display: inline-block;" class="form-group">
                    <label>Supplier User E-mail</label>
                    <input type="text" class="form-control" name="company_email" value="{{employee_data.company_email}}">
                </div>
            </div>
        </div>
        <div style="padding-bottom: 60px;"></div>
        <div id="color_override" class="fixed-bottom text-center" style="background-color: white; padding: 5px;">
            {% if role_state.employee_updates == 1 %}
            <button type="submit" class="btn" style="background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}" onclick="return confirm('Are you sure you want to update this employee?')">Update Employee</button>
            {% endif %}
        </div>
    </form>
</div>

<script>
    const firstNameInput = document.querySelector('input[name="first_name"]');
    const lastNameInput = document.querySelector('input[name="last_name"]');
    const fullNameInput = document.querySelector('input[name="full_name"]');

    console.log(firstNameInput);
    console.log(lastNameInput);
    console.log(fullNameInput);

    firstNameInput.addEventListener('input', () => {
        console.log('First name changed');
        fullNameInput.value = `${firstNameInput.value} ${lastNameInput.value}`;
    });

    lastNameInput.addEventListener('input', () => {
        console.log('Last name changed');
        fullNameInput.value = `${firstNameInput.value} ${lastNameInput.value}`;
    });
</script>