{% include 'layout.html' %}

<div class="container">
    <form method="post">
        <div class="card">
            <div style="text-align: left;" class="card-header">
                Edit Country
            </div>
            <div class="card-body">
                <div style="width: 30%; display: inline-block;" class="form-group">
                    <label>Country Name</label>
                    <input type="text" class="form-control" name="short_name" value="{{country.short_name}}" required>
                </div>
                <div style="width: 60%; display: inline-block;" class="form-group">
                    <label>Country Name</label>
                    <input type="text" class="form-control" name="name" value="{{country.name}}" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="width: 170px;">Update</button>
                    <button type="button" onclick="window.location.href='/manage/delete_country/{{country.id}}'" class="btn btn-danger" style="width: 170px;">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>