{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <a href="/employee/add_employee" class="btn btn-primary" style="float: right;">+</a>
            <h5 class="card-title">Your Employees</h5>
        </div>
        <div class="card-body">            
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">E-mail</th>
                    <th scope="col">Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Department</th>
                    <th scope="col">Site</th>
                    <th scope="col">Contract</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Offboard</th>

                </tr>
                </thead>
                <tbody>

                {% for employee in employees %}
                <tr class="pointer">
                    <td>{{employee.email}}</td>
                    <td>{{employee.full_name}}</td>
                    <td>{{employee.job_title}}</td>
                    <td>{{employee.direct_manager}}</td>
                    {% for department in departments %}
                        {% if department.id == employee.department_id %}
                            <td>{{department.name}}</td>
                        {% endif %}
                    {% endfor %}

                    {% for site in sites %}
                        {% if site.id == employee.site_id %}
                            <td>{{site.name}}</td>
                        {% endif %}
                    {% endfor %}

                    {% for employment in employments %}
                        {% if employment.id == employee.employment_type_id %}
                            <td>{{employment.name}}</td>
                        {% endif %}
                    {% endfor %}

                    <td><button onclick="window.location.href='edit_employee/{{employee.id}}'" type="button" class="btn btn-info">Edit</button></td>
                    <td><button onclick="if (confirm('Are you sure you want to offboard {{employee.full_name}}?')) { window.location.href='offboard_employee/{{employee.id}}'; }" type="button" class="btn btn-danger">Offboard</button></td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>