{% include 'layout.html' %}

<div class="container">
    {% if missed_offboardings != [] %}
    <div class="card text-center">
        <div class="text-align:left; card-header">
            <h4><img src="/static/img/warning.png" alt="Warning" height="30"> Missed Offboardings <img src="/static/img/warning.png" alt="Warning" height="30"></h4>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">E-mail</th>
                    <th scope="col">Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Department</th>
                    <th scope="col">Site</th>
                    <th scope="col">Contract</th>
                    <th scope="col">End Date</th>
                    {% if role_state.employee_updates == 1 %}
                    <th scope="col">Edit</th>
                    {% endif %}
                    {% if role_state.offboarding == 1 %}
                    <th scope="col">Offboard</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% for missed_offboarding in missed_offboardings %}
                <tr class="pointer" ondblclick="window.location.href='employee/details/{{missed_offboarding.id}}'">
                    <td>{{missed_offboarding.email}}</td>
                    <td>{{missed_offboarding.full_name}}</td>
                    <td>{{missed_offboarding.job_title}}</td>
                    <td>{{missed_offboarding.direct_manager}}</td>
                    {% for department in departments %}
                        {% if department.id == missed_offboarding.department_id %}
                            <td>{{department.name}}</td>
                        {% endif %}
                    {% endfor %}

                    {% for site in sites %}
                        {% if site.id == missed_offboarding.site_id %}
                            <td>{{site.name}}</td>
                        {% endif %}
                    {% endfor %}

                    {% for contract in contracts %}
                        {% if contract.id == missed_offboarding.employment_contract_id %}
                            <td>{{contract.name}}</td>
                        {% endif %}
                    {% endfor %}

                    <td>{{missed_offboarding.end_date}}</td>
                    {% if role_state.employee_updates == 1 %}
                    <td><button onclick="window.location.href='employee/edit_employee/{{missed_offboarding.id}}'" type="button" class="btn btn-info">Edit</button></td>
                    {% endif %}
                    {% if role_state.offboarding == 1 %}
                    <td><button onclick="if (confirm('Are you sure you want to offboard {{missed_offboarding.full_name}}?')) { window.location.href='employee/offboard_employee/{{missed_offboarding.id}}'; }" type="button" class="btn btn-danger">Offboard</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div> 
    <br>
    {% endif %}

    <div class="card text-center">
        <div style="text-align: center;" class="card-header">
            <h4>Today's Offboarding</h4>
        </div>
        {% if todays_offboardings == [] %}
        <div class="card-body">
            <h5 class="card-title">No employees to offboard today.</h5>
        </div>
        {% endif %}
        {% if todays_offboardings != [] %}
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">E-mail</th>
                    <th scope="col">Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Department</th>
                    <th scope="col">Site</th>
                    <th scope="col">Contract</th>
                    <th scope="col">End Date</th>
                    {% if role_state.employee_updates == 1 %}
                    <th scope="col">Edit</th>
                    {% endif %}
                    {% if role_state.offboarding == 1 %}
                    <th scope="col">Offboard</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% for todays_offboarding in todays_offboardings %}
                <tr class="pointer" ondblclick="window.location.href='employee/details/{{todays_offboarding.id}}'">
                    <td>{{todays_offboarding.email}}</td>
                    <td>{{todays_offboarding.full_name}}</td>
                    <td>{{todays_offboarding.job_title}}</td>
                    <td>{{todays_offboarding.direct_manager}}</td>
                    {% for department in departments %}
                        {% if department.id == todays_offboarding.department_id %}
                            <td>{{department.name}}</td>
                        {% endif %}
                    {% endfor %}

                    {% for site in sites %}
                        {% if site.id == todays_offboarding.site_id %}
                            <td>{{site.name}}</td>
                        {% endif %}
                    {% endfor %}

                    {% for contract in contracts %}
                        {% if contract.id == missed_offboarding.employment_contract_id %}
                            <td>{{contract.name}}</td>
                        {% endif %}
                    {% endfor %}


                    <td>{{todays_offboarding.end_date}}</td>
                    {% if role_state.employee_updates == 1 %}
                    <td><button onclick="window.location.href='employee/edit_employee/{{todays_offboarding.id}}'" type="button" class="btn btn-info">Edit</button></td>
                    {% endif %}
                    {% if role_state.offboarding == 1 %}
                    <td><button onclick="if (confirm('Are you sure you want to offboard {{todays_offboarding.full_name}}?')) { window.location.href='employee/offboard_employee/{{todays_offboarding.id}}'; }" type="button" class="btn btn-danger">Offboard</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
    <br>
    <div class="card text-center">
        <div style="text-align: center;" class="card-header">
            <h4>Upcoming Offboarding</h4>
        </div>
        {% if upcoming_offboardings == [] %}
        <div class="card-body">
            <h5 class="card-title">No employees to offboard in the next 7 days.</h5>
        </div>
        {% endif %}
        {% if upcoming_offboardings != [] %}
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">E-mail</th>
                    <th scope="col">Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Department</th>
                    <th scope="col">Site</th>
                    <th scope="col">Contract</th>
                    <th scope="col">End Date</th>
                    {% if role_state.employee_updates == 1 %}
                    <th scope="col">Edit</th>
                    {% endif %}
                    {% if role_state.offboarding == 1 %}
                    <th scope="col">Offboard</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% for upcoming_offboarding in upcoming_offboardings %}
                <tr class="pointer" ondblclick="window.location.href='employee/details/{{upcoming_offboarding.id}}'">
                    <td>{{upcoming_offboarding.email}}</td>
                    <td>{{upcoming_offboarding.full_name}}</td>
                    <td>{{upcoming_offboarding.job_title}}</td>
                    <td>{{upcoming_offboarding.direct_manager}}</td>
                    {% for department in departments %}
                        {% if department.id == upcoming_offboarding.department_id %}
                            <td>{{department.name}}</td>
                        {% endif %}
                    {% endfor %}

                    {% for site in sites %}
                        {% if site.id == upcoming_offboarding.site_id %}
                            <td>{{site.name}}</td>
                        {% endif %}
                    {% endfor %}

                    {% for contract in contracts %}
                        {% if contract.id == missed_offboarding.employment_contract_id %}
                            <td>{{contract.name}}</td>
                        {% endif %}
                    {% endfor %}

                    <td>{{upcoming_offboarding.end_date}}</td>
                    {% if role_state.employee_updates == 1 %}
                    <td><button onclick="window.location.href='employee/edit_employee/{{upcoming_offboarding.id}}'" type="button" class="btn btn-info">Edit</button></td>
                    {% endif %}
                    {% if role_state.offboarding == 1 %}
                    <td><button onclick="if (confirm('Are you sure you want to offboard {{upcoming_offboarding.full_name}}?')) { window.location.href='employee/offboard_employee/{{upcoming_offboarding.id}}'; }" type="button" class="btn btn-danger">Offboard</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card text-center">
                <div style="text-align: center;" class="card-header">
                    <h4><img src="/static/img/cake.png" alt="Hermes logo" height="35"> Today's Birthdays <img src="/static/img/cake.png" alt="Hermes logo" height="35"></h4>
                </div>
                {% if todays_birthdays != [] %}
                <div class="card-body">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">E-mail</th>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th scope="col">Department</th>
                        <th scope="col">Site</th>
                        <th scope="col">End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todays_birthday in todays_birthdays %}
                        <tr class="pointer" ondblclick="window.location.href='employee/details/{{todays_birthday.id}}'">
                        <td>{{todays_birthday.email}}</td>
                        <td>{{todays_birthday.full_name}}</td>
                        <td>{{todays_birthday.job_title}}</td>
                        {% for department in departments %}
                        {% if department.id == todays_birthday.department_id %}
                        <td>{{department.name}}</td>
                        {% endif %}
                        {% endfor %}
                        {% for site in sites %}
                        {% if site.id == todays_birthday.site_id %}
                        <td>{{site.name}}</td>
                        {% endif %}
                        {% endfor %}
                        <td>{{todays_birthday.end_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                {% else %}
                <h5 class="card-title">No Birthday's Today.</h5>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div style="text-align: left;" class="card-header">
                    Total Onboarded Employees: {{total_employees}}
                </div>
                <br>
                <div style="text-align: left;" class="card-header">
                    Total Offboarded Employees: {{total_offboarded_employees}}
                </div>
                <br>
                <div style="text-align: left;" class="card-header">
                    Total Users on Hermes: {{total_users}}
                </div>
            </div>
        </div>
    </div>
</div>