{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-body" style="overflow-y: auto; height: 100%;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">ID</th>
                        <th scope="col" style="width: 10%;">Date</th>
                        <th scope="col" style="width: 10%;">Action</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{log.date}}</td>
                        <td>{{log.user}}</td>
                        <td>{{log.action}}</td>
                        <td>{{log.description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>