{% include 'layout.html' %}

<div class="container">
    <div class="row" >
        <div class="col-md-4" style="padding-bottom: 20px;">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Departments List</h5>
                    <a href="/manage/add_department" class="btn btn-primary btn-sm" style="float: right;">+</a>
                </div>
                <div class="card-body" style="overflow-y: auto; width: 100%; height: 220px;">
                    <div class="form-group">
                        <table class="table table-hover">
                            {% if departments == [] %}
                            <div class="text-center">
                                <p>No departments</p>
                            </div>
                            {% endif %}
                            {% for department in departments %}
                            <tr>
                                <td>{{department.name}}</td>
                                <td class="text-right"><button onclick="window.location.href='/manage/edit_department/{{department.id}}'" type="button" class="btn btn-info">Edit</button></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding-bottom: 20px;">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Sites List</h5>
                    <a href="/manage/add_site" class="btn btn-primary btn-sm" style="float: right;">+</a>
                </div>
                <div class="card-body" style="overflow-y: auto; width: 100%; height: 220px;">
                    <div class="form-group">
                        <table class="table table-hover">
                            {% if sites == [] %}
                            <div class="text-center">
                                <p>No sites</p>
                            </div>
                            {% endif %}
                            {% for site in sites %}
                            <tr>
                                <td>{{site.name}}</td>
                                <td class="text-right"><button onclick="window.location.href='/manage/edit_site/{{site.id}}'" type="button" class="btn btn-info">Edit</button></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding-bottom: 20px;">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Contract List</h5>
                    <a href="/manage/add_contract/" class="btn btn-primary btn-sm" style="float: right;">+</a>
                </div>
                <div class="card-body" style="overflow-y: auto; width: 100%; height: 220px;">
                    <div class="form-group">
                        <table class="table table-hover">
                            {% if contracts == [] %}
                            <div class="text-center">
                                <p>No contracts</p>
                            </div>
                            {% endif %}
                            {% for contract in contracts %}
                            <tr>
                                <td>{{contract.name}}</td>
                                <td class="text-right"><button onclick="window.location.href='/manage/edit_contract/{{contract.id}}'" type="button" class="btn btn-info">Edit</button></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="padding-bottom: 20px;">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Employers List</h5>
                    <a href="/manage/add_employer" class="btn btn-primary btn-sm" style="float: right;">+</a>
                </div>
                <div class="card-body" style="overflow-y: auto; width: 100%; height: 220px;">
                    <div class="form-group">
                        <table class="table table-hover">
                            {% if employers == [] %}
                            <div class="text-center">
                                <p>No employers</p>
                            </div>
                            {% endif %}
                            {% for employer in employers %}
                            <tr>
                                <td>{{employer.name}}</td>
                                <td class="text-right"><button onclick="window.location.href='/manage/edit_employer/{{employer.id}}'" type="button" class="btn btn-info">Edit</button></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding-bottom: 20px;">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Employment List</h5>
                    <a href="#" class="btn btn-primary btn-sm" style="float: right;">+</a>
                </div>
                <div class="card-body" style="overflow-y: auto; width: 100%; height: 220px;">
                    <div class="form-group">
                        <table class="table table-hover">
                            {% if employment == [] %}
                            <div class="text-center">
                                <p>No employments</p>
                            </div>
                            {% endif %}
                            {% for employ in employment %}
                            <tr>
                                <td>{{employ.name}}</td>
                                <td class="text-right"><button onclick="window.location.href='#'" type="button" class="btn btn-info">Edit</button></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="padding-bottom: 20px;">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Countries List</h5>
                    <a href="#" class="btn btn-primary btn-sm" style="float: right;">+</a>
                </div>
                <div class="card-body" style="overflow-y: auto; width: 100%; height: 220px;">
                    <div class="form-group">
                        <table class="table table-hover">
                            {% if countries == [] %}
                            <div class="text-center">
                                <p>No countries</p>
                            </div>
                            {% endif %}
                            {% for country in countries %}
                            <tr>
                                <td>{{country.name}}</td>
                                <td>{{country.short_name}}</td>
                                <td class="text-right"><button onclick="window.location.href='#'" type="button" class="btn btn-info">Edit</button></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-4" style="padding-bottom: 20px;">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Currency List</h5>
                    <a href="#" class="btn btn-primary btn-sm" style="float: right;">+</a>
                </div>
                <div class="card-body" style="overflow-y: auto; width: 100%; height: 220px;">
                    <div class="form-group">
                        <table class="table table-hover">
                            {% if currencies == [] %}
                            <div class="text-center">
                                <p>No currencies</p>
                            </div>
                            {% endif %}
                            {% for currency in currencies %}
                            <tr>
                                <td>{{currency.name}}</td>
                                <td>{{currency.short_name}}</td>
                                <td class="text-right"><button onclick="window.location.href='#'" type="button" class="btn btn-info">Edit</button></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>