<div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top d-flex" style="background-color: {{settings.navigation_bar_color}};">
        <a href="/">
            <img src="data:image/png;base64,{{settings.company_logo}}" alt="Hermes logo" height="40" style="padding-right: 10px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if nav == 'home' %}active{% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if nav == 'employee' %}active{% endif %}">
                    <a class="nav-link" href="/employee">Employees </a>
                </li>
                <li class="nav-item {% if nav == 'reporting' %}active{% endif %}">
                    <a class="nav-link" href="/reporting">Reporting  </a>
                </li>
                <li class="nav-item {% if nav == 'manage' %}active{% endif %}">
                    <a class="nav-link" href="/manage">Customise Lists  </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <form class="form-inline" action="/employee" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="{% if employee_search %}{{ employee_search }}{% else %}Search Employees{% endif %}" aria-label="Search" name="employee_search" style="text-align: center;">
            </form>
            <ul class="navbar-nav">
                {% if logged_in_user %}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if logged_in_user.users_profile == '1' %}
                            <img src="/static/img/aphrodite.png" style="width: 25px; height: 25px; border-radius: 50%; background-color: {{settings.primary_color}};">
                        {% elif logged_in_user.users_profile == '2' %}
                            <img src="/static/img/artemis.png" style="width: 25px; height: 25px; border-radius: 50%; background-color: {{settings.primary_color}};">
                        {% elif logged_in_user.users_profile == '3' %}
                            <img src="/static/img/athena.png" style="width: 25px; height: 25px; border-radius: 50%; background-color: {{settings.primary_color}};">
                        {% elif logged_in_user.users_profile == '4' %}
                            <img src="/static/img/hades.png" style="width: 25px; height: 25px; border-radius: 50%; background-color: {{settings.primary_color}};">
                        {% elif logged_in_user.users_profile == '5' %}
                            <img src="/static/img/hera.png" style="width: 25px; height: 25px; border-radius: 50%; background-color: {{settings.primary_color}};">
                        {% elif logged_in_user.users_profile == '6' %}
                            <img src="/static/img/hestia.png" style="width: 25px; height: 25px; border-radius: 50%; background-color: {{settings.primary_color}};">
                        {% elif logged_in_user.users_profile == '7' %}
                            <img src="/static/img/poseidon.png" style="width: 25px; height: 25px; border-radius: 50%; background-color: {{settings.primary_color}};">
                        {% elif logged_in_user.users_profile == '8' %}
                            <img src="/static/img/zeus.png" style="width: 25px; height: 25px; border-radius: 50%; background-color: {{settings.primary_color}};">
                        {% elif logged_in_user.username == 'hermes' %}
                            <img src="/static/img/logo.png" style="width: 25px; height: 25px; border-radius: 50%; background-color: {{settings.primary_color}};">
                        {% else %}
                            <img src="/static/img/dionysius.png" style="width: 25px; height: 25px; border-radius: 50%; background-color: {{settings.primary_color}};">
                        {% endif %}
                        Hello {{logged_in_user.username}}  
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/#"><img src="/static/img/account.png" width="19px" style="padding-bottom: 4px; padding-right: 4px;"> Profile</a>
                        {% if role_state.admin == 1 %}
                        <a class="dropdown-item" href="/admin"><img src="/static/img/admin.png" width="19px" style="padding-bottom: 4px; padding-right: 4px;"> Admin</a>
                        {% endif %}
                        {% if role_state.settings == 1 %}
                        <a class="dropdown-item" href="/settings"><img src="/static/img/setting.png" width="19px" style="padding-bottom: 4px; padding-right: 4px;"> Settings</a>
                        {% endif %}
                        {% if role_state.logs == 1 %}
                        <a class="dropdown-item" href="/logging/"><img src="/static/img/logs.png" width="19px" style="padding-bottom: 4px; padding-right: 4px;"> Logs</a>
                        {% endif %}
                        <a class="dropdown-item" href="/admin/logout"><img src="/static/img/logout.png" width="19px" style="padding-bottom: 4px; padding-right: 4px;"> Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/login"><img src="/static/img/login.png" alt="Loging image" height="18" style="padding-right: 0px;"> Login </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>