{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header" style="text-align: right;">
            <h3 style="display: inline-block; margin-right: 30px;" class="float-left">Offboardings List</h3>
            <a href="/employee/" class="btn btn-info" style="margin-right: 5px;">Employees List</a>
            <form class="form-inline ml-auto float-right" action="/employee/offboarded_employee" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="{% if offboarded_employee_search %}{{ offboarded_employee_search }}{% else %}Search Offboarded Employees{% endif %}" aria-label="Search" name="offboarded_employee_search" style="width: 300px; text-align: center; margin-right: 0px;">
            </form>
        </div>
        <div class="card-body">            
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">E-mail</th>
                    <th scope="col">Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Department</th>
                    <th scope="col">Site</th>
                    <th scope="col">Contract</th>
                    {% if role_state.onboarding == 1 %}
                    <th scope="col">Re-Onboard</th>
                    {% endif %}

                </tr>
                </thead>
                <tbody>

                {% for employee in employees %}
                <tr class="pointer">
                    <td>{{employee.email}}</td>
                    <td>{{employee.full_name}}</td>
                    <td>{{employee.job_title}}</td>
                    <td>{{employee.direct_manager}}</td>
                    {% for department in departments %}
                        {% if department.id == employee.department_id %}
                            <td>{{department.name}}</td>
                        {% endif %}
                    {% endfor %}

                    {% for site in sites %}
                        {% if site.id == employee.site_id %}
                            <td>{{site.name}}</td>
                        {% endif %}
                    {% endfor %}

                    {% for contract in contracts %}
                        {% if contract.id == employee.employment_contract_id %}
                            <td>{{contract.name}}</td>
                        {% endif %}
                    {% endfor %}

                    {% if role_state.onboarding == 1 %}
                    <td><button onclick="if (confirm('Are you sure you want to Re-Onboard {{employee.full_name}}?')) { window.location.href='/employee/reboard_employee/{{employee.id}}'; }" type="button" class="btn btn-danger">Re-Onboard</button></td>
                    {% endif %}
                </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>