<div style="width: 100%; display: inline-block;" class="form-group">
    <label>Profile Picture</label>
    <div style="display: flex; justify-content: flex-start;">
        <div style="padding: 10px; padding-right: 50px;">
            <img src="/static/img/aphrodite.png" alt="Aphrodite" width="200px" style="border-radius: 200%; background-color: {{settings.primary_color}};">
        </div>
        <div>
            <input type="radio" id="Aphrodite" name="profile_image" value="1" checked>
            <label for="Aphrodite" style="padding: 5px;">
                <img src="/static/img/aphrodite.png" alt="Aphrodite" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};">
            </label>
        </div>
        <div>
            <input type="radio" id="Artemis" name="profile_image" value="2">
            <label for="Artemis" style="padding: 5px;">
                <img src="/static/img/artemis.png" alt="Artemis" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};">
            </label>
        </div>
        <div>
            <input type="radio" id="Athena" name="profile_image" value="3">
            <label for="Athena" style="padding: 5px;">
                <img src="/static/img/athena.png" alt="Athena" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};">
            </label>
        </div>
        <div>
            <input type="radio" id="Hades" name="profile_image" value="4">
            <label for="Hades" style="padding: 5px;">
                <img src="/static/img/hades.png" alt="Hades" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};">
            </label>
        </div>
        <div>
            <input type="radio" id="Hera" name="profile_image" value="5">
            <label for="Hera" style="padding: 5px;">
                <img src="/static/img/hera.png" alt="Hera" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};">
            </label>
        </div>
        <div>
            <input type="radio" id="Hestia" name="profile_image" value="6">
            <label for="Hestia" style="padding: 5px;">
                <img src="/static/img/hestia.png" alt="Hestia" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};">
            </label>
        </div>
        <div>
            <input type="radio" id="Poseidon" name="profile_image" value="7">
            <label for="Poseidon" style="padding: 5px;">
                <img src="/static/img/poseidon.png" alt="Poseidon" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};">
            </label>
        </div>
        <div>
            <input type="radio" id="Zeus" name="profile_image" value="8">
            <label for="Zeus" style="padding: 5px;">
                <img src="/static/img/zeus.png" alt="Zeus" width="50px" style="border-radius: 50%; background-color: {{settings.primary_color}};">
            </label>
        </div>
    </div>
</div>