{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header" style="text-align: left;">
            <h3 style="display: inline-block; margin-right: 30px;">Reporting</h3>
            <br><br>
            <div style="width: 350px; display: inline-block; text-align: left; margin-left: 20px;" class="form-group">
                <label style="margin-left: 10px;">Report Type</label>
                <select class="form-control" id="reportType" name="report_type">
                    <option value="0" {% if header_value.report_type == 0%} selected="selected" {% endif %}>Select Report Type</option>
                    <option value="1" {% if header_value.report_type == 1%} selected="selected" {% endif %}>Onboarded Employees</option>
                    <option value="2" {% if header_value.report_type == 2%} selected="selected" {% endif %}>Offboarded Employees</option>
                </select>
            </div>
            <div style="width: 160px; display: inline-block; text-align: left;" class="form-group">
                <label style="margin-left: 10px;">Start Date</label>
                <input type="date" class="form-control" name="start_date" id="startDate" value="{{header_value.start_date.strftime('%Y-%m-%d')}}" required>
            </div>
            <div style="width: 160px; display: inline-block; text-align: left;" class="form-group">
                <label style="margin-left: 10px;">End Date</label>
                <input type="date" class="form-control" name="end_date" id="endDate" value="{{header_value.end_date.strftime('%Y-%m-%d')}}" required>
            </div>
            <div style="width: 300px; display: inline-block; margin-top: 30px; text-align: right;" class="form-group float-right">
                <a id="generateCsv" type="button" style="color: white; padding-right: 10px;" href="/reporting/download_csv/?report_type=report_type?start_date=start_date?end_date=end_date'"><img src="/static/img/csv.png" alt="csv_download" width="38px"></a>
                <a id="generateReport" type="button" class="btn btn-primary" style="color: white;" href="/reporting/?report_type=report_type?start_date=start_date?end_date=end_date">Generate Report</a>
            </div>
        </div>
        <div class="card-body" style="overflow:auto;">
            <table class="table table-hover" style="text-overflow: ellipsis; white-space: nowrap;">
                {% if report_data == None or report_data == [] %}
                    <br>
                    <h5>No data is available</h5>
                {% else %}
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">DoB</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Nationality</th>
                            <th scope="col">CoO</th>
                            <th scope="col">Working Country</th>
                            <th scope="col">Personal E-mail</th>
                            <th scope="col">Job Title</th>
                            <th scope="col">Manager</th>
                            <th scope="col">HR Team</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Site</th>
                            <th scope="col">Department</th>
                            <th scope="col">Product Code</th>
                            <th scope="col">Brand Code</th>
                            <th scope="col">Business Unit</th>
                            <th scope="col">Business Vertical</th>
                            <th scope="col">Contract</th>
                            {% if role_state.payroll == 1 %}
                            <th scope="col">Currency</th>
                            <th scope="col">Base Salary</th>
                            <th scope="col">Salary Period</th>
                            <th scope="col">Working Hours</th>
                            <th scope="col">Employment Type</th>
                            <th scope="col">Net Salary</th>
                            <th scope="col">Change Reason</th>
                            <th scope="col">Increase %</th>
                            <th scope="col">SPF</th>
                            {% endif %}
                            <th scope="col">Supplier</th>
                            <th scope="col">EtbB</th>
                            <th scope="col">Employer</th>
                            <th scope="col">Supplier E-mail</th>
                            <th scope="col">Employment Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in report_data %}
                        <tr>
                            <td>{{employee.id}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.first_name}}</td>
                            <td>{{employee.last_name}}</td>
                            <td>{{employee.full_name}}</td>
                            <td>{{employee.date_of_birth}}</td>
                            {% if employee.gender == 0 %}
                                <td>Male</td>
                            {% elif employee.gender == 1 %}
                                <td>Female</td>
                            {% else %}
                                <td>Other</td>
                            {% endif %}
                            <td>{{employee.nationality}}</td>
                            {% for country in countries %}
                                {% if employee.country_of_origin_id == country.id %}
                                    <td>{{ country.name }}</td>
                                {% endif %}
                            {% endfor %}
                            {% for country in countries %}
                                {% if employee.working_country_id == country.id %}
                                    <td>{{ country.name }}</td>
                                {% endif %}
                            {% endfor %}
                            <td>{{employee.personal_email}}</td>
                            <td>{{employee.job_title}}</td>
                            <td>{{employee.direct_manager}}</td>
                            {% if employee.hr_team_id == 0 %}
                                <td>No Team</td>
                            {% else %}
                                {% for hr_team in hr_teams %}
                                    {% if employee.hr_team_id == hr_team.id %}
                                        <td>{{ hr_team.name }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <td>{{employee.start_date}}</td>
                            <td>{{employee.end_date}}</td>
                            {% for site in sites %}
                                {% if employee.site_id == site.id %}
                                    <td>{{ site.name }}</td>
                                {% endif %}
                            {% endfor %}
                            {% for department in departments %}
                                {% if employee.department_id == department.id %}
                                    <td>{{ department.name }}</td>
                                {% endif %}
                            {% endfor %}
                            <td>{{employee.product_code}}</td>
                            <td>{{employee.brand_code}}</td>
                            <td>{{employee.business_unit}}</td>
                            <td>{{employee.business_verticle}}</td>
                            {% for contract in employment_contracts %}
                                {% if employee.employment_contract_id == contract.id %}
                                    <td>{{ contract.name }}</td>
                                {% endif %}
                            {% endfor %}
                            {% if role_state.payroll == 1 %}
                                {% for currency in currencies %}
                                    {% if employee.salary_currency_id == currency.id %}
                                        <td>{{ currency.name }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td>{{employee.salary}}</td>
                                <td>{{employee.salary_period}}</td>
                                <td>{{employee.working_hours}}</td>
                                {% for employment_type in employment_types %}
                                    {% if employee.employment_type_id == employment_type.id %}
                                        <td>{{ employment_type.name }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td>{{employee.net_monthly_salary}}</td>
                                <td>{{employee.change_reason}}</td>
                                <td>{{employee.increase_percentage}}</td>
                                {% for frequency in salary_pay_frequency %}
                                    {% if employee.salary_pay_frequency_id == frequency.id %}
                                        <td>{{ frequency.name }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <td>{{employee.supplier}}</td>
                            <td>{{employee.entity_to_be_billed}}</td>
                            {% for employer in employers %}
                                {% if employee.employer_id == employer.id %}
                                    <td>{{ employer.name }}</td>
                                {% endif %}
                            {% endfor %}
                            <td>{{employee.company_email}}</td>
                            {% if employee.employment_status_id == 0 %}
                                <td>Onboarded</td>
                            {% else %}
                                <td>Offboarded</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                {%endif%}
            </table>
        </div>
    </div>
</div>

<script>
    document.getElementById('generateReport').addEventListener('click', function(event) {
    event.preventDefault();
    var reportType = document.getElementById('reportType').value;
    var startDate = document.getElementById('startDate').value + 'T00:00:00';
    var endDate = document.getElementById('endDate').value + 'T23:59:59';
    var url = "/reporting/?report_type=" + reportType + "&start_date=" + startDate + "&end_date=" + endDate;
    window.location.href = url;
});
    document.getElementById('generateCsv').addEventListener('click', function(event) {
    event.preventDefault();
    var reportType = document.getElementById('reportType').value;
    var startDate = document.getElementById('startDate').value + 'T00:00:00';
    var endDate = document.getElementById('endDate').value + 'T23:59:59';
    var url = "/reporting/download_csv/"+reportType+"/"+startDate+"/"+endDate;
    window.location.href = url;
});
</script>