{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header" style="text-align: left;">
            <h3 style="display: inline-block; margin-right: 30px;">Reporting</h3>
            <br><br>
            <div style="width: 350px; display: inline-block; text-align: left; margin-left: 20px;" class="form-group">
                <label style="margin-left: 10px;">Report Type</label>
                <select class="form-control" id="reportType" name="report_type">
                    <option value="0" {% if header_value.report_type == 0%} selected="selected" {% endif %}>Select Report Type</option>
                    <option value="1" {% if header_value.report_type == 1%} selected="selected" {% endif %}>Onboardings</option>
                    <option value="2" {% if header_value.report_type == 2%} selected="selected" {% endif %}>Offboardings</option>
                    <option value="3" {% if header_value.report_type == 3%} selected="selected" {% endif %}>All Current Employees</option>
                    <option value="4" {% if header_value.report_type == 4%} selected="selected" {% endif %}>By Manager</option>
                    <option value="5" {% if header_value.report_type == 5%} selected="selected" {% endif %}>By Department</option>
                    <option value="6" {% if header_value.report_type == 6%} selected="selected" {% endif %}>By Country</option>
                    <option value="7" {% if header_value.report_type == 7%} selected="selected" {% endif %}>By Working Country</option>
                    <option value="8" {% if header_value.report_type == 8%} selected="selected" {% endif %}>By Site</option>
                    <option value="9" {% if header_value.report_type == 9%} selected="selected" {% endif %}>By Contract Type</option>
                </select>
            </div>
            <div style="width: 160px; display: inline-block; text-align: left;" class="form-group">
                <label style="margin-left: 10px;">Start Date</label>
                <input type="date" class="form-control" name="start_date" id="startDate" value="{{header_value.start_date.strftime('%Y-%m-%d')}}" required>
            </div>
            <div style="width: 160px; display: inline-block; text-align: left;" class="form-group">
                <label style="margin-left: 10px;">End Date</label>
                <input type="date" class="form-control" name="end_date" id="endDate" value="{{header_value.end_date.strftime('%Y-%m-%d')}}" required>
            </div>
            <div style="width: 300px; display: inline-block; text-align: left;" class="form-group">
                <label style="margin-left: 10px;">Manager</label>
                <input type="text" class="form-control" name="manager_search" id="managerSearch" required>
            </div>
            <div style="width: 300px; display: inline-block; text-align: left;" class="form-group">
                <label style="margin-left: 10px;">Department</label>
                <select class="form-control" name="department_list" id="departmentList">
                    <option value="0">Select Department</option>
                    {% for department in departments %}
                        <option value="{{department.id}}">{{department.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="width: 300px; display: inline-block; margin-top: 30px; text-align: right;" class="form-group float-right">
                <a id="generateCsv" type="button" style="color: white; padding-right: 10px;" href="/reporting/download_csv/?report_type=report_type?start_date=start_date?end_date=end_date'"><img src="/static/img/csv.png" alt="csv_download" width="38px"></a>
                <a id="generateReport" type="button" class="btn" style="color: white; background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}" href="">Generate Report</a>
            </div>
        </div>
        <div class="card-body" style="overflow:auto;">
            <table class="table table-hover" style="text-overflow: ellipsis; white-space: nowrap;">
                {% if report_data == None or report_data == [] %}
                    <br>
                    <h5>No data is available</h5>
                {% else %}
                    <thead>
                        <tr>
                            <th scope="col" title="ID">ID</th>
                            <th scope="col" title="E-mail">E-mail</th>
                            <th scope="col" title="Name">Name</th>
                            <th scope="col" title="Surname">Surname</th>
                            <th scope="col" title="Full Name">Full Name</th>
                            <th scope="col" title="Date of Birth">DoB</th>
                            <th scope="col" title="Gender">Gender</th>
                            <th scope="col" title="Nationality">Nationality</th>
                            <th scope="col" title="Country of Origin">CoO</th>
                            <th scope="col" title="Working Country">Working Country</th>
                            <th scope="col" title="Personal E-mail">Personal E-mail</th>
                            <th scope="col" title="Job Title">Job Title</th>
                            <th scope="col" title="Manager">Manager</th>
                            <th scope="col" title="HR Team">HR Team</th>
                            <th scope="col" title="Start Date">Start Date</th>
                            <th scope="col" title="End Date">End Date</th>
                            <th scope="col" title="Site">Site</th>
                            <th scope="col" title="Department">Department</th>
                            <th scope="col" title="Product Code">Product Code</th>
                            <th scope="col" title="Brand Code">Brand Code</th>
                            <th scope="col" title="Business Unit">Business Unit</th>
                            <th scope="col" title="Business Vertical">Business Vertical</th>
                            <th scope="col" title="Contract">Contract</th>
                            {% if role_state.payroll == 1 %}
                            <th scope="col" title="Currency">Currency</th>
                            <th scope="col" title="Base Salary">Base Salary</th>
                            <th scope="col" title="Salary Period">Salary Period</th>
                            <th scope="col" title="Working Hours">Working Hours</th>
                            <th scope="col" title="Employment Type">Employment Type</th>
                            <th scope="col" title="Net Monthyl Salary">Net Salary</th>
                            <th scope="col" title="Change Reason">Change Reason</th>
                            <th scope="col" title="Increase Percentage">Increase %</th>
                            <th scope="col" title="Salary Pay Frequency">SPF</th>
                            {% endif %}
                            <th scope="col" title="Supplier">Supplier</th>
                            <th scope="col" title="Entity to be Billed">EtbB</th>
                            <th scope="col" title="Employer">Employer</th>
                            <th scope="col" title="Supplier E-mail">Supplier E-mail</th>
                            <th scope="col" title="Employment Status">Employment Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in report_data %}
                        <tr>
                            <td title="ID">{{employee.id}}</td>
                            <td title="E-mail">{{employee.email}}</td>
                            <td title="Name">{{employee.first_name}}</td>
                            <td title="Surname">{{employee.last_name}}</td>
                            <td title="Full Name">{{employee.full_name}}</td>
                            <td title="Date of Birth">{{employee.date_of_birth}}</td>
                            {% if employee.gender == 0 %}
                                <td title="Gender">Male</td>
                            {% elif employee.gender == 1 %}
                                <td title="Gender">Female</td>
                            {% else %}
                                <td title="Gender">Other</td>
                            {% endif %}
                            <td title="Nationality">{{employee.nationality}}</td>
                            {% for country in countries %}
                                {% if employee.country_of_origin_id == country.id %}
                                    <td title="Country of Origin">{{ country.name }}</td>
                                {% endif %}
                            {% endfor %}
                            {% for country in countries %}
                                {% if employee.working_country_id == country.id %}
                                    <td title="Working Country">{{ country.name }}</td>
                                {% endif %}
                            {% endfor %}
                            <td title="Personal E-mail">{{employee.personal_email}}</td>
                            <td title="Job Title">{{employee.job_title}}</td>
                            <td title="Direct Manager">{{employee.direct_manager}}</td>
                            {% if employee.hr_team_id == 0 %}
                                <td title="HR Team">No Team</td>
                            {% else %}
                                {% for hr_team in hr_teams %}
                                    {% if employee.hr_team_id == hr_team.id %}
                                        <td title="HR Team">{{ hr_team.name }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <td title="Start Date">{{employee.start_date}}</td>
                            <td title="End Date">{{employee.end_date}}</td>
                            {% for site in sites %}
                                {% if employee.site_id == site.id %}
                                    <td title="Site">{{ site.name }}</td>
                                {% endif %}
                            {% endfor %}
                            {% for department in departments %}
                                {% if employee.department_id == department.id %}
                                    <td title="Department">{{ department.name }}</td>
                                {% endif %}
                            {% endfor %}
                            <td title="Product Code">{{employee.product_code}}</td>
                            <td title="Brand Code">{{employee.brand_code}}</td>
                            <td title="Business Unit">{{employee.business_unit}}</td>
                            <td title="Business Verticle">{{employee.business_verticle}}</td>
                            {% for contract in employment_contracts %}
                                {% if employee.employment_contract_id == contract.id %}
                                    <td title="Employment Contract">{{ contract.name }}</td>
                                {% endif %}
                            {% endfor %}
                            {% if role_state.payroll == 1 %}
                                {% for currency in currencies %}
                                    {% if employee.salary_currency_id == currency.id %}
                                        <td title="Currency">{{ currency.name }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td title="Salary">{{employee.salary}}</td>
                                <td title="Salary Period">{{employee.salary_period}}</td>
                                <td title="Working Hours">{{employee.working_hours}}</td>
                                {% for employment_type in employment_types %}
                                    {% if employee.employment_type_id == employment_type.id %}
                                        <td title="Employment Type">{{ employment_type.name }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td title="Net Monthly Salary">{{employee.net_monthly_salary}}</td>
                                <td title="Change Reason">{{employee.change_reason}}</td>
                                <td title="Increase Percentage">{{employee.increase_percentage}}</td>
                                {% for frequency in salary_pay_frequency %}
                                    {% if employee.salary_pay_frequency_id == frequency.id %}
                                        <td title="Salary Pay Frequency">{{ frequency.name }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <td title="Supplier">{{employee.supplier}}</td>
                            <td title="Entity to be Billed">{{employee.entity_to_be_billed}}</td>
                            {% for employer in employers %}
                                {% if employee.employer_id == employer.id %}
                                    <td title="Employer">{{ employer.name }}</td>
                                {% endif %}
                            {% endfor %}
                            <td title="Company E-mail">{{employee.company_email}}</td>
                            {% if employee.employment_status_id == 0 %}
                                <td title="Employment Status">Onboarded</td>
                            {% else %}
                                <td title="Employment Status">Offboarded</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                {%endif%}
            </table>
        </div>
    </div>
</div>

<script>
    document.getElementById('generateReport').addEventListener('click', function(event) {
        event.preventDefault();
        var reportType = document.getElementById('reportType').value;
        var startDate = document.getElementById('startDate').value + 'T00:00:00';
        var endDate = document.getElementById('endDate').value + 'T23:59:59';
        if (reportType == '1' || reportType == '2') 
        {
            var url = "/reporting/?report_type=" + reportType + "&start_date=" + startDate + "&end_date=" + endDate;
        }
        else if (reportType == '3')
        {
            var url = "/reporting/?report_type=" + reportType;
        }
        window.location.href = url;
    });
    document.getElementById('generateCsv').addEventListener('click', function(event) {
        event.preventDefault();
        var reportType = document.getElementById('reportType').value;
        var startDate = document.getElementById('startDate').value + 'T00:00:00';
        var endDate = document.getElementById('endDate').value + 'T23:59:59';
        var url = "/reporting/download_csv/"+reportType+"/"+startDate+"/"+endDate;
        window.location.href = url;
    });
    document.getElementById('reportType').addEventListener('change', function() {
        if (this.value == '1' || this.value == '2') 
        {
            document.getElementById('startDate').parentElement.style.display = 'inline-block';
            document.getElementById('endDate').parentElement.style.display = 'inline-block';
            document.getElementById('managerSearch').parentElement.style.display = 'none';
            document.getElementById('departmentList').parentElement.style.display = 'none';
        }
        else if (this.value == '3')
        {
            document.getElementById('startDate').parentElement.style.display = 'none';
            document.getElementById('endDate').parentElement.style.display = 'none';
            document.getElementById('managerSearch').parentElement.style.display = 'none';
            document.getElementById('departmentList').parentElement.style.display = 'none';
        }
        else if (this.value == '4')
        {
            document.getElementById('startDate').parentElement.style.display = 'none';
            document.getElementById('endDate').parentElement.style.display = 'none';
            document.getElementById('managerSearch').parentElement.style.display = 'inline-block';
            document.getElementById('departmentList').parentElement.style.display = 'none';
        }
        else if (this.value == '5')
        {
            document.getElementById('startDate').parentElement.style.display = 'none';
            document.getElementById('endDate').parentElement.style.display = 'none';
            document.getElementById('managerSearch').parentElement.style.display = 'none';
            document.getElementById('departmentList').parentElement.style.display = 'inline-block';
        }
        else
        {
            document.getElementById('startDate').parentElement.style.display = 'none';
            document.getElementById('endDate').parentElement.style.display = 'none';
            document.getElementById('managerSearch').parentElement.style.display = 'none';
            document.getElementById('departmentList').parentElement.style.display = 'none';
        }
    });
    function checkReportType() {
        var reportType = document.getElementById('reportType');
        if (reportType.value == '1' || reportType.value == '2') {
            document.getElementById('startDate').parentElement.style.display = 'inline-block';
            document.getElementById('endDate').parentElement.style.display = 'inline-block';
        } else {
            document.getElementById('startDate').parentElement.style.display = 'none';
            document.getElementById('endDate').parentElement.style.display = 'none';
        }
    }

    // Call the function when the page loads
    window.onload = checkReportType;

    // Call the function when the select value changes
    document.getElementById('reportType').addEventListener('change', checkReportType);
</script>