{% include 'layout.html' %}

<div class="container">
    <form method="post">
        <div class="card text-center">
            <div class="card-header" style="text-align: left;">
                <h3 style="display: inline-block; margin-right: 30px;">Settings</h3>
                <br>
                <div style="display: inline-block; text-align: left;background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}" class="form-group">
                    <a href="/settings/?page=trigger_points" class="btn"
                    style="
                    {% if page == 'trigger_points' %}
                        background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}
                    {% else %}
                        background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}
                    {% endif %}
                    ;">
                    <img src="/static/img/clipboard.png" alt="Trigger Point" style="width: 25px; height: 25px; margin-right: 10px;">Trigger Points
                    </a>
                </div>
                <div style="display: inline-block; text-align: left;" class="form-group">       
                    <a href="/settings/?page=slack_settings" class="btn"
                    style="
                    {% if page == 'slack_settings' %}
                        background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}
                    {% else %}
                        background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}
                    {% endif %}
                    ;">
                    <img src="/static/img/slack.png" alt="Slack" style="width: 25px; height: 25px; margin-right: 10px;">Slack Settings
                    </a>
                </div>
                <div style="display: inline-block; text-align: left;" class="form-group">
                    <a href="/settings/?page=email_settings" class="btn"
                    style="
                    {% if page == 'email_settings' %}
                        background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}
                    {% else %}
                        background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}
                    {% endif %}
                    ;">
                    <img src="/static/img/email.png" alt="Slack" style="width: 25px; height: 25px; margin-right: 10px;">E-mail Settings
                    </a>
                </div>
                <div style="display: inline-block; text-align: left;" class="form-group">
                    <a href="/settings/?page=email_templates1" class="btn"
                    style="
                    {% if page == 'email_templates1' or page == 'email_templates2' or page == 'email_templates3' or page == 'email_templates4' %}
                        background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}
                    {% else %}
                        background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}
                    {% endif %}
                    ;">
                    <img src="/static/img/mockup.png" alt="Slack" style="width: 25px; height: 25px; margin-right: 10px;">E-mail Templates
                    </a>
                </div>
                <div style="display: inline-block; text-align: left;" class="form-group">
                    <a href="/settings/?page=color_palettes" class="btn"
                    style="
                    {% if page == 'color_palettes' %}
                        background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}
                    {% else %}
                        background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}
                    {% endif %}
                    ;">
                    <img src="/static/img/pantone.png" alt="Slack" style="width: 25px; height: 25px; margin-right: 10px;">Color Settings
                    </a>
                </div>
                <div style="display: inline-block; text-align: left;" class="form-group">
                    <a href="/settings/?page=about" class="btn"
                    style="
                    {% if page == 'about' %}
                        background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}
                    {% else %}
                        background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}
                    {% endif %}
                    ;">
                    <img src="/static/img/about.png" alt="Slack" style="width: 25px; height: 25px; margin-right: 10px;">About
                    </a>
                </div>
                <div style="display: inline-block; text-align: left;" class="form-group">
                    <a href="/settings/?page=license" class="btn"
                    style="
                    {% if page == 'license' %}
                        background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}
                    {% else %}
                        background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}
                    {% endif %}
                    ;">
                    <img src="/static/img/license.png" alt="Slack" style="width: 25px; height: 25px; margin-right: 10px;">License
                    </a>
                </div>
            </div>
            <div class="card-body" style="overflow:auto;">
                <br>
                {% if page == 'trigger_points' %}
                <div class="card-body" style="overflow-y: auto;">
                    <table class="table text-center table-hover">
                        <tr onclick="document.querySelector('input[name=trigger_onboarded_employee]').checked = !document.querySelector('input[name=trigger_onboarded_employee]').checked;">
                            <td style="padding-left: 20px;"><input type="checkbox" class="form-group" name="trigger_onboarded_employee" {% if settings.email_new_employee %}checked{% endif %}></td>
                            <td style="text-align: left; width: 20%;">Onboarding trigger</td>
                            <td style="text-align: left; padding-left: 25px;">Send an e-mail/slack message when a new employee is onboarded onto Hermes.</td>
                        </tr>
                        <tr onclick="document.querySelector('input[name=trigger_updated_employee]').checked = !document.querySelector('input[name=trigger_updated_employee]').checked;">
                            <td style="padding-left: 20px;"><input type="checkbox" class="form-group" name="trigger_updated_employee" {% if settings.email_updated_employee %}checked{% endif %}></td>
                            <td style="text-align: left; width: 20%">Updated Employee trigger</td>
                            <td style="text-align: left; padding-left: 25px;">Send an e-mail/slack message when a employee is updated onto Hermes.</td>
                        </tr>
                        <tr onclick="document.querySelector('input[name=trigger_offboarded_employee]').checked = !document.querySelector('input[name=trigger_offboarded_employee]').checked;">
                            <td style="padding-left: 20px;"><input type="checkbox" class="form-group" name="trigger_offboarded_employee" {% if settings.email_offboarded_employee %}checked{% endif %}></td>
                            <td style="text-align: left; width: 20%">Offboarded Employee trigger</td>
                            <td style="text-align: left; padding-left: 25px;">Send an e-mail/slack message when a employee is offboarded from Hermes.</td>
                        </tr>
                    </table>
                </div>
                {% endif %}
                {% if page == 'slack_settings' %}
                <div class="card-body" style="overflow-y: auto;">
                    <table class="table text-center table-hover">
                        <tr>
                            <td style="text-align: right; width: 10%; vertical-align: middle;">Webhook</td>
                            <td>
                                <input type="text" class="form-control" name="slack_webhook" {% if settings.slack_webhook_channel != None %} value="{{settings.slack_webhook_channel}} {% endif %}">
                            </td>
                        </tr> 
                    </table>
                </div>
                {% endif %}
                {% if page == 'email_settings' %}
                <div class="card-body" style="overflow-y: auto;">
                    <table class="table text-center table-hover">
                        <tr title="E-mails can be seperated with a comma to add more then one email address.">
                            <td style="text-align: right; width: 10%; vertical-align: middle;">E-mail Send To</td>
                            <td>
                                <input type="text" class="form-control" name="email_list" {% if settings.email_list != None %} value="{{settings.email_list}}" {% endif %}>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 15%; vertical-align: middle;">E-mail SMTP Server</td>
                            <td>
                                <input type="text" class="form-control" name="email_smtp_server" {% if settings.email_smtp_server != None %} value="{{settings.email_smtp_server}}" {% endif %}>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 15%; vertical-align: middle;">E-mail SMTP Port</td>
                            <td>
                                <input type="text" class="form-control" name="email_smtp_port" value="{{settings.email_smtp_port}}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 15%; vertical-align: middle;">E-mail SMTP Username</td>
                            <td>
                                <input type="text" class="form-control" name="email_smtp_username" {% if settings.email_smtp_username != None %} value="{{settings.email_smtp_username}}" {% endif %}>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 15%; vertical-align: middle;">E-mail SMTP Password</td>
                            <td>
                                <input type="password" class="form-control" name="email_smtp_password" value="">
                            </td>
                        </tr>                        
                    </table>
                </div> 
                {% endif %}
                {% if page == 'email_templates1' or page == 'email_templates2' or page == 'email_templates3' or page == 'email_templates4' %}
                <div class="card-body" style="overflow-y: auto; display: flex; padding-top: 0;">
                    <div style="flex: 20%; border-right: 1px solid {{settings.primary_color_hover}};">
                        <h4 style="margin-top: 0;">Internal</h4>
                        <div style="display: inline-block; text-align: left;" class="form-group">
                            <a href="/settings/?page=email_templates1" class="btn"
                            style=" width: 250px;
                            {% if page == 'email_templates1' %}
                                background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}
                            {% else %}
                                background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}
                            {% endif %}
                            ;">Onboarding Email
                            </a>
                        </div>
                        <div style="display: inline-block; text-align: left;" class="form-group">
                            <a href="/settings/?page=email_templates2" class="btn"
                            style=" width: 250px;
                            {% if page == 'email_templates2' %}
                                background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}
                            {% else %}
                                background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}
                            {% endif %}
                            ;">Employee Update Email
                            </a>
                        </div>
                        <div style="display: inline-block; text-align: left;" class="form-group">
                            <a href="/settings/?page=email_templates3" class="btn"
                            style=" width: 250px;
                            {% if page == 'email_templates3' %}
                                background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}
                            {% else %}
                                background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}
                            {% endif %}
                            ;">Offboarding Email
                            </a>
                        </div>
                        <h4 style="padding-top: 5px;">Employee</h4>
                        <div style="display: inline-block; text-align: left;" class="form-group">
                            <a href="/settings/?page=email_templates4" class="btn"
                            style=" width: 250px;
                            {% if page == 'email_templates4' %}
                                background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}
                            {% else %}
                                background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}
                            {% endif %}
                            ;">Welcome Employee Email
                            </a>
                        </div>
                    </div>
                    <div style="flex: 80%; border-left: 1px solid #a9a9a9 !important; height: 100%; padding-left: 10px;">
                        {% if page == 'email_templates1' %}
                            <h3 name="email_template_name" style="margin-top: 0;">Onboarding Email</h3>
                            <input type="text" class="form-control" name="email_template_subject" value="{{email_templates.onboarding_subject}}" style="margin-bottom: 10px;">
                            <div style="display: flex; height: 100%; background-color: white;">
                                <div style="flex: 50%; overflow-y: auto;">
                                    <textarea id="emailContent" class="form-control" rows="23" cols="50" oninput="updatePreview()" style="font-size: 0.9em;">{{email_templates.onboarding_body}}</textarea>
                                </div>
                                <div id="preview" style="flex: 50%; padding-left: 10px; text-align: left; height: 500px; overflow-y: auto; font-size: 0.9em;">
                                    {{email_templates.onboarding_body|safe}}
                                </div>
                            </div>
                        {% elif page == 'email_templates2' %}
                            <h3 name="email_template_name" style="margin-top: 0;">Employee Update Email</h3>
                            <input type="text" class="form-control" name="email_template_subject" value="{{email_templates.employee_updates_subject}}" style="margin-bottom: 10px;">
                            <div style="display: flex; height: 100%; background-color: white;">
                                <div style="flex: 50%; overflow-y: auto;">
                                    <textarea id="emailContent" class="form-control" rows="23" cols="50" oninput="updatePreview()" style="font-size: 0.9em;">{{email_templates.employee_updates_body}}</textarea>
                                </div>
                                <div id="preview" style="flex: 50%; padding-left: 10px; text-align: left; height: 500px; overflow-y: auto; font-size: 0.9em;">
                                    {{email_templates.employee_updates_body|safe}}
                                </div>
                            </div>
                        {% elif page == 'email_templates3' %}
                            <h3 name="email_template_name" style="margin-top: 0;">Offboarding Email</h3>
                            <input type="text" class="form-control" name="email_template_subject" value="{{email_templates.offboarding_subject}}" style="margin-bottom: 10px;">
                            <div style="display: flex; height: 100%; background-color: white;">
                                <div style="flex: 50%; overflow-y: auto;">
                                    <textarea id="emailContent" class="form-control" rows="23" cols="50" oninput="updatePreview()" style="font-size: 0.9em;">{{email_templates.offboarding_body}}</textarea>
                                </div>
                                <div id="preview" style="flex: 50%; padding-left: 10px; text-align: left; height: 500px; overflow-y: auto; font-size: 0.9em;">
                                    {{email_templates.offboarding_body|safe}}
                                </div>
                            </div>
                        {% elif page == 'email_templates4' %}
                            <h3 name="email_template_name" style="margin-top: 0;">Welcome Employee Email</h3>
                            <input type="text" class="form-control" name="email_template_subject" value="{{email_templates.welcome_email_subject}}" style="margin-bottom: 10px;">
                            <div style="display: flex; height: 100%; background-color: white;">
                                <div style="flex: 50%; overflow-y: auto;">
                                    <textarea id="emailContent" class="form-control" rows="23" cols="50" oninput="updatePreview()" style="font-size: 0.9em;">{{email_templates.welcome_email_body}}</textarea>
                                </div>
                                <div id="preview" style="flex: 50%; padding-left: 10px; text-align: left; height: 500px; overflow-y: auto; font-size: 0.9em;">
                                    {{email_templates.welcome_email_body|safe}}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if page == 'color_palettes' %}
                <div class="card-body" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                    <div style="flex: 1; margin-right: 100px;">
                        <h3>Logo</h3>
                        <img id="logo" src="data:image/png;base64,{{settings.company_logo}}" alt="Company logo" height="100" style="margin-bottom: 10px;">
                        <p style="font-size: 18px; color: #888; margin-bottom: 10px;">Current Logo</p>
                        <input type="file" id="logoUpload" accept=".png" style="display: none;">
                        <div style="display: flex; flex-direction: column;">
                            <label for="logoUpload" class="btn" style="font-size: 18px; margin-bottom: 10px; background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}">Change Logo</label>
                            <a href="/settings/reset_company_logo" class="btn" style="font-size: 18px; background-color: {{settings.secondary_color}}; color: {{settings.secondary_color_hover}}">Reset Logo</a>
                        </div>
                        <div style="margin-top: 40px;">
                            <h3>Navbar Color <input type="color" id="navbarColor" name="navigation_bar_color" value="{{settings.navigation_bar_color}}" style="width: 40px; height: 40px; margin-bottom: 10px;"></h3>                        
                        </div>
                    </div>
                    <br>
                    <div style="flex: 2;">
                        <div style="display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 20px;">
                            <h3>Button Colors</h3>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <div style="display: flex; justify-content: flex-start;">
                                <div style="display: flex; flex-direction: column; align-items:flex-start; width: 200px;">
                                    <h5>Primary Button</h5>
                                    <input type="color" id="primaryButtonColor" name="primary_button_color" value="{{settings.primary_color}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 20px; width: 300px;">
                                    <h5>Primary Button Text Color</h5>
                                    <input type="color" id="primaryButtonHoverColor" name="primary_button_hover_color" value="{{settings.primary_color_hover}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 20px; padding-top: 30px;">
                                    <button id="primarySampleButton" type="button" class="btn" style="width: 220px;">Sample Primary Button</button>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <div style="display: flex; justify-content: flex-start;">
                                <div style="display: flex; flex-direction: column; align-items:flex-start; width: 200px;">
                                    <h5>Secondary Button</h5>
                                    <input type="color" id="secondaryButtonColor" name="secondary_button_color" value="{{settings.secondary_color}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 20px; width: 300px;">
                                    <h5>Secondary Button Text Color</h5>
                                    <input type="color" id="secondaryButtonHoverColor" name="secondary_button_hover_color" value="{{settings.secondary_color_hover}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 20px; padding-top: 30px;">
                                    <button id="secondarySampleButton" type="button" class="btn" style="width: 220px;">Sample Secondary Button</button>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <div style="display: flex; justify-content: flex-start;">
                                <div style="display: flex; flex-direction: column; align-items:flex-start; width: 200px;">
                                    <h5>Info Button</h5>
                                    <input type="color" id="infoButtonColor" name="info_button_color" value="{{settings.info_color}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 20px; width: 300px;">
                                    <h5>Info Button Text Color</h5>
                                    <input type="color" id="infoButtonHoverColor" name="info_button_hover_color" value="{{settings.info_color_hover}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 20px; padding-top: 30px;">
                                    <button id="infoSampleButton" type="button" class="btn" style="width: 220px;">Sample Info Button</button>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <div style="display: flex; justify-content: flex-start;">
                                <div style="display: flex; flex-direction: column; align-items:flex-start; width: 200px;">
                                    <h5>Critical Button</h5>
                                    <input type="color" id="criticalButtonColor" name="critical_button_color" value="{{settings.critical_color}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 20px; width: 300px;">
                                    <h5>Critical Button Text Color</h5>
                                    <input type="color" id="criticalButtonHoverColor" name="critical_button_hover_color" value="{{settings.critical_color_hover}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 20px; padding-top: 30px;">
                                    <button id="criticalSampleButton" type="button" class="btn" style="width: 220px;">Sample Critical Button</button>
                                </div>
                            </div>                
                        </div>        
                    </div>
                </div>
                {% endif %}
                {% if page == 'about' %}
                <div class="card-body" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                    <div style="flex: 1; margin-right: 100px;">
                        <h1>About Hermes</h1>
                        <p>Hermes is an open source web application that allows you to manage your companies employees.</p>
                        <br>
                        <h2>Version</h2>
                        <p>Version 1.5.5</p>
                        <br>
                        <h2>Licenses</h2>
                        <ul class="list-unstyled">
                            <li>Python</li>
                            <li>SQLite</li>
                            <li>Jinja</li>
                        </ul>
                        <br>
                        <h2>GitHub</h2>
                        <p>Created by <a href="https://github.com/DarthTigerson">Thomas Bonnici</a></p>
                        <p>Project URL: <a href="https://github.com/DarthTigerson/Hermes">https://github.com/DarthTigerson/Hermes</a></p>
                        <br>
                    </div>
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <h2>Artists</h2>
                        <ul class="list-unstyled" style="columns: 2; width: 100%;">
                            <li>
                                <a href="https://www.flaticon.com/free-icons/hermes" title="hermes icons">Hermes icons created by max.icons - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/login" title="login icons">Login icons created by Pixel perfect - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/cake" title="cake icons">Cake icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/young" title="young icons">Young icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Smashicons - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/csv" title="csv icons">Csv icons created by kliwir art - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/slack" title="slack icons">Slack icons created by Pixel perfect - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by justicon - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/checklist" title="checklist icons">Checklist icons created by Smashicons - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/color-palette" title="color palette icons">Color palette icons created by Smashicons - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/info" title="info icons">Info icons created by Anggara - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/contract" title="contract icons">Contract icons created by wanicon - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/logout" title="logout icons">Logout icons created by Afian Rochmah Afif - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/settings" title="settings icons">Settings icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/setting" title="setting icons">Setting icons created by Tanah Basah - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/log" title="log icons">Log icons created by Smartline - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/download" title="download icons">Download icons created by Bharat Icons - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/eye" title="eye icons">Eye icons created by torskaya - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Pixel perfect - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/username" title="username icons">Username icons created by Wahyu Adam - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/hera" title="hera icons">Hera icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/artemis" title="artemis icons">Artemis icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/aphrodite" title="aphrodite icons">Aphrodite icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/athena" title="athena icons">Athena icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/greek" title="greek icons">Greek icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/poseidon" title="poseidon icons">Poseidon icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/zeus" title="zeus icons">Zeus icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/hestia" title="hestia icons">Hestia icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/bacchus" title="bacchus icons">Bacchus icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Phoenix Group - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/golden-apple" title="golden apple icons">Golden apple icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/pegasus" title="pegasus icons">Pegasus icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/faun" title="faun icons">Faun icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/achilles" title="achilles icons">Achilles icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/demeter" title="demeter icons">Demeter icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/hephaestus" title="hephaestus icons">Hephaestus icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/greek" title="greek icons">Greek icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/greek" title="greek icons">Greek icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/ancient" title="ancient icons">Ancient icons created by Freepik - Flaticon</a>
                            </li>
                            <li>
                                <a href="https://www.flaticon.com/free-icons/theme" title="theme icons">Theme icons created by monkik - Flaticon</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if page == 'license' %}
                <div class="card-body" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                    <div style="flex: 1; margin-right: 100px; text-align: center;">
                        <h4>MIT License</h4>
                        <br>
                        <p>
                        Copyright (c) 2023 Thomas Bonnici
                        <br><br>
                        Permission is hereby granted, free of charge, to any person obtaining a copy<br>
                        of this software and associated documentation files (the "Software"), to deal<br>
                        in the Software without restriction, including without limitation the rights<br>
                        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
                        copies of the Software, and to permit persons to whom the Software is<br>
                        furnished to do so, subject to the following conditions:<br>
                        <br><br>
                        The above copyright notice and this permission notice shall be included in all<br>
                        copies or substantial portions of the Software.<br>
                        <br><br>
                        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br>
                        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br>
                        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br>
                        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br>
                        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br>
                        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE<br>
                        SOFTWARE.
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div style="padding-bottom: 60px;"></div>
        <div id="color_override" id="color_override" class="fixed-bottom text-center" style="background-color: white; padding: 5px;">
            <button type="submit" class="btn" style="background-color: {{settings.primary_color}}; color: {{settings.primary_color_hover}}">Update Settings</button>
        </div>
    </form>
</div>

<script>
    document.getElementById('logoUpload').addEventListener('change', function(event) {
        var reader = new FileReader();
        reader.onloadend = function() {
            var base64data = reader.result.split(',')[1]; // Remove the data URL prefix
            fetch('/settings/change_company_logo', { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ logo: base64data }) 
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                // Handle the response data as needed
                console.log(data);
                // Reload the page
                location.reload();
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
        }
        reader.readAsDataURL(event.target.files[0]);
    });
    document.addEventListener('DOMContentLoaded', function() {
        var primaryButton = document.getElementById('primarySampleButton');
        var primaryButtonColor = document.getElementById('primaryButtonColor');
        var primaryButtonHoverColor = document.getElementById('primaryButtonHoverColor');
        var secondaryButton = document.getElementById('secondarySampleButton');
        var secondaryButtonColor = document.getElementById('secondaryButtonColor');
        var secondaryButtonHoverColor = document.getElementById('secondaryButtonHoverColor');
        var infoButton = document.getElementById('infoSampleButton');
        var infoButtonColor = document.getElementById('infoButtonColor');
        var infoButtonHoverColor = document.getElementById('infoButtonHoverColor');
        var criticalButton = document.getElementById('criticalSampleButton');
        var criticalButtonColor = document.getElementById('criticalButtonColor');
        var criticalButtonHoverColor = document.getElementById('criticalButtonHoverColor');
        
        primaryButton.style.backgroundColor = primaryButtonColor.value;
        primaryButton.style.color = primaryButtonHoverColor.value;

        primaryButtonColor.addEventListener('input', function() {
            primaryButton.style.backgroundColor = this.value;
        });

        primaryButtonHoverColor.addEventListener('input', function() {
            primaryButton.style.color = this.value;
        });
        
        secondaryButton.style.backgroundColor = secondaryButtonColor.value;
        secondaryButton.style.color = secondaryButtonHoverColor.value;

        secondaryButtonColor.addEventListener('input', function() {
            secondaryButton.style.backgroundColor = this.value;
        });

        secondaryButtonHoverColor.addEventListener('input', function() {
            secondaryButton.style.color = this.value;
        });
        
        infoButton.style.backgroundColor = infoButtonColor.value;
        infoButton.style.color = infoButtonHoverColor.value;

        infoButtonColor.addEventListener('input', function() {
            infoButton.style.backgroundColor = this.value;
        });

        infoButtonHoverColor.addEventListener('input', function() {
            infoButton.style.color = this.value;
        });
        
        criticalButton.style.backgroundColor = criticalButtonColor.value;
        criticalButton.style.color = criticalButtonHoverColor.value;

        criticalButtonColor.addEventListener('input', function() {
            criticalButton.style.backgroundColor = this.value;
        });

        criticalButtonHoverColor.addEventListener('input', function() {
            criticalButton.style.color = this.value;
        });
    });
    var logo = document.getElementById('logo');
    var clickCount = 0;

    logo.addEventListener('click', function() {
        clickCount++;
        if (clickCount === 5) {
            clickCount = 0; // reset the count
            logo.classList.add('animate-logo');
        } else {
            logo.classList.remove('animate-logo');
        }
    });

    function updatePreview() {
        var content = document.getElementById('emailContent').value;
        document.getElementById('preview').innerHTML = content;
    }
</script>