{% include 'layout.html' %}

<div class="container">
    <form method="post">
        <div class="card text-center">
            <div class="card-header" style="text-align: left;">
                <h3 style="display: inline-block; margin-right: 30px;">Settings</h3>
                <br>
                <div style="display: inline-block; text-align: left;" class="form-group">
                    <a href="/settings/?page=trigger_points" {% if page == 'trigger_points' %}class="btn btn-primary"{% else %}class="btn btn-info"{% endif %}><img src="/static/img/clipboard.png" alt="Trigger Point" style="width: 25px; height: 25px; margin-right: 10px;">Trigger Points</a>
                </div>
                <div style="display: inline-block; text-align: left;" class="form-group">                    
                    <a href="/settings/?page=slack_settings" {% if page == 'slack_settings' %}class="btn btn-primary"{% else %}class="btn btn-info"{% endif %}><img src="/static/img/slack.png" alt="Slack" style="width: 25px; height: 25px; margin-right: 10px;">Slack Settings</a>
                </div>
                <div style="display: inline-block; text-align: left;" class="form-group">
                    <a href="/settings/?page=email_settings" {% if page == 'email_settings' %}class="btn btn-primary"{% else %}class="btn btn-info"{% endif %}><img src="/static/img/email.png" alt="E-mail" style="width: 25px; height: 25px; margin-right: 10px;">E-mail Settings</a>
                </div>
                <div style="display: inline-block; text-align: left;" class="form-group">
                    <a href="/settings/?page=color_palettes" {% if page == 'color_palettes' %}class="btn btn-primary"{% else %}class="btn btn-info"{% endif %}><img src="/static/img/pantone.png" alt="E-mail" style="width: 25px; height: 25px; margin-right: 10px;">Color Palettes</a>
                </div>
            </div>
            <div class="card-body" style="overflow:auto;">
                <br>
                {% if page == 'trigger_points' %}
                <div class="card-body" style="overflow-y: auto;">
                    <table class="table text-center table-hover">
                        <tr onclick="document.querySelector('input[name=trigger_onboarded_employee]').checked = !document.querySelector('input[name=trigger_onboarded_employee]').checked;">
                            <td style="padding-left: 20px;"><input type="checkbox" class="form-group" name="trigger_onboarded_employee" {% if settings.email_new_employee %}checked{% endif %}></td>
                            <td style="text-align: left; width: 20%;">Onboarding trigger</td>
                            <td style="text-align: left; padding-left: 25px;">Send an e-mail when a new employee is onboarded onto Hermes.</td>
                        </tr>
                        <tr onclick="document.querySelector('input[name=trigger_updated_employee]').checked = !document.querySelector('input[name=trigger_updated_employee]').checked;">
                            <td style="padding-left: 20px;"><input type="checkbox" class="form-group" name="trigger_updated_employee" {% if settings.email_updated_employee %}checked{% endif %}></td>
                            <td style="text-align: left; width: 20%">Updated Employee trigger</td>
                            <td style="text-align: left; padding-left: 25px;">Send an e-mail when a employee is updated onto Hermes.</td>
                        </tr>
                        <tr onclick="document.querySelector('input[name=trigger_offboarded_employee]').checked = !document.querySelector('input[name=trigger_offboarded_employee]').checked;">
                            <td style="padding-left: 20px;"><input type="checkbox" class="form-group" name="trigger_offboarded_employee" {% if settings.email_offboarded_employee %}checked{% endif %}></td>
                            <td style="text-align: left; width: 20%">Offboarded Employee trigger</td>
                            <td style="text-align: left; padding-left: 25px;">Send an e-mail when a employee is offboarded from Hermes.</td>
                        </tr>
                    </table>
                </div>
                {% endif %}
                {% if page == 'slack_settings' %}
                <div class="card-body" style="overflow-y: auto;">
                    <table class="table text-center table-hover">
                        <tr>
                            <td style="text-align: right; width: 10%; vertical-align: middle;">Webhook</td>
                            <td>
                                <input type="text" class="form-control" name="slack_webhook" {% if settings.slack_webhook_channel != None %} value="{{settings.slack_webhook_channel}} {% endif %}">
                            </td>
                        </tr> 
                    </table>
                </div>
                {% endif %}
                {% if page == 'email_settings' %}
                <div class="card-body" style="overflow-y: auto;">
                    <table class="table text-center table-hover">
                        <tr>
                            <td style="text-align: right; width: 10%; vertical-align: middle;">E-mail Send To</td>
                            <td>
                                <input type="text" class="form-control" name="email_list" {% if settings.email_list != None %} value="{{settings.email_list}}" {% endif %}>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 15%; vertical-align: middle;">E-mail SMTP Server</td>
                            <td>
                                <input type="text" class="form-control" name="email_smtp_server" {% if settings.email_smtp_server != None %} value="{{settings.email_smtp_server}}" {% endif %}>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 15%; vertical-align: middle;">E-mail SMTP Port</td>
                            <td>
                                <input type="text" class="form-control" name="email_smtp_port" value="{{settings.email_smtp_port}}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 15%; vertical-align: middle;">E-mail SMTP Username</td>
                            <td>
                                <input type="text" class="form-control" name="email_smtp_username" {% if settings.email_smtp_username != None %} value="{{settings.email_smtp_username}}" {% endif %}>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 15%; vertical-align: middle;">E-mail SMTP Password</td>
                            <td>
                                <input type="password" class="form-control" name="email_smtp_password" value="">
                            </td>
                        </tr>
                        </tr> 
                    </table>
                </div> 
                {% endif %}
                {% if page == 'color_palettes' %}
                <div class="card-body" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                    <div style="flex: 1; margin-right: 20px;">
                        <h3>Logo</h3>
                        <img src="data:image/png;base64,{{settings.company_logo}}" alt="Company logo" height="100" style="margin-bottom: 10px;">
                        <p style="font-size: 18px; color: #888; margin-bottom: 10px;">Current Logo</p>
                        <input type="file" id="logoUpload" accept=".png" style="display: none;">
                        <label for="logoUpload" class="btn btn-primary" style="font-size: 18px;">Change Logo</label>
                        <a href="/settings/reset_company_logo" class="btn btn-secondary" style="font-size: 18px;">Reset Logo</a>
                    </div>
                    <div style="flex: 2;">
                        <h3>Navbar Color</h3>
                        <input type="color" id="navbarColor" name="navigation_bar_color" value="{{settings.navigation_bar_color}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                        <h3>Button Colors</h3>
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <h4>Primary Button</h4>
                                <input type="color" id="primaryButtonColor" name="primary_button_color" value="{{settings.primary_color}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                            </div>
                            <div>
                                <h4>Primary Button Hover</h4>
                                <input type="color" id="primaryButtonHoverColor" name="primary_button_hover_color" value="{{settings.primary_color_hover}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                            </div>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <h4>Secondary Button</h4>
                                <input type="color" id="secondaryButtonColor" name="secondary_button_color" value="{{settings.secondary_color}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                            </div>
                            <div>
                                <h4>Secondary Button Hover</h4>
                                <input type="color" id="secondaryButtonHoverColor" name="secondary_button_hover_color" value="{{settings.secondary_color_hover}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                            </div>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <h4>Info Button</h4>
                                <input type="color" id="infoButtonColor" name="info_button_color" value="{{settings.info_color}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                            </div>
                            <div>
                                <h4>Info Button Hover</h4>
                                <input type="color" id="infoButtonHoverColor" name="info_button_hover_color" value="{{settings.info_color_hover}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                            </div>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <h4>Critical Button</h4>
                                <input type="color" id="infoButtonColor" name="info_button_color" value="{{settings.info_color}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                            </div>
                            <div>
                                <h4>Critical Button Hover</h4>
                                <input type="color" id="infoButtonHoverColor" name="info_button_hover_color" value="{{settings.info_color_hover}}" style="width: 40px; height: 40px; margin-bottom: 10px;">
                            </div>
                        </div>
                        
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div style="padding-bottom: 60px;"></div>
        <div class="fixed-bottom text-center" style="background-color: white; padding: 5px;">
            <button type="submit" class="btn btn-primary">Update Settings</button>
        </div>
    </form>
</div>

<script>
    document.getElementById('logoUpload').addEventListener('change', function(event) {
        var reader = new FileReader();
        reader.onloadend = function() {
            var base64data = reader.result.split(',')[1]; // Remove the data URL prefix
            fetch('/settings/change_company_logo', { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ logo: base64data }) 
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                // Handle the response data as needed
                console.log(data);
                // Reload the page
                location.reload();
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
        }
        reader.readAsDataURL(event.target.files[0]);
    });
</script>