{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <a href="/users/add_user" class="btn btn-primary" style="float: right;">Add a new User</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Your Users</h5>
            

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">E-mail</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Role</th>
                    <th scope="col">Direct Manager</th>

                </tr>
                </thead>
                <tbody>

                {% for todo in todos %}
                {% if todo.complete == False %}
                <tr class="pointer">

                    <td>{{loop.index}}</td>
                    <td>{{todo.title}}</td>
                    <td>
                        <button onclick="window.location.href='complete/{{todo.id}}'"
                                type="button" class="btn btn-success">Complete</button>
                        <button onclick="window.location.href='edit-todo/{{todo.id}}'"
                                type="button" class="btn btn-info">
                            Edit
                        </button>
                    </td>
                </tr>

                {% else %}
                <tr class="pointer alert alert-success">

                    <td>{{loop.index}}</td>
                    <td class="strike-through-td">{{todo.title}}</td>
                    <td>
                        <button onclick="window.location.href='complete/{{todo.id}}'"
                                type="button" class="btn btn-success">Undo
                        </button>
                        <button onclick="window.location.href='edit-todo/{{todo.id}}'"
                                type="button" class="btn btn-info">
                            Edit
                        </button>
                    </td>
                </tr>

                {% endif %}
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>